rendering_figures_for_paper/panelC_supp2A/panel_v2_zoom.fig
rendering_figures_for_paper/panelC_supp2A/panel_v2.fig
rendering_figures_for_paper/panelA/schematic.svg
rendering_figures_for_paper/panelC_supp2A/panel.fig
rendering_figures_for_paper/panelC_supp2A/panel_zoom.fig
rendering_figures_for_paper/panelC_supp2A/vesicle_global_sourcedata/ves_01_processed.mat
main code/receiver_emitter_sims/compareresults/total_pheromone_per_sim.fig
rendering_figures_for_paper/panelC_supp2A/vesicle_local_sourcedata/ves_01_processed.mat
main code/receiver_emitter_sims/analysis/testing/poi_01.xyz
main code/no_receiver_sims/pointsource/poi_01.xyz
