random_seed 9
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+12*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.6204 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 0.7824 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 0.8641 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 1.3426 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 3.2151 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 3.7198 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 6.8447 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 7.9134 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 8.3947 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 8.4761 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 8.7251 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 9.5858 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 9.9169 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 10.9559 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 10.9899 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 11.0043 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 11.1778 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 12.2998 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 13.2360 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 14.8987 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 15.1872 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
output_files ves_09.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_09.xyz
end_file
