random_seed 26
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+12*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.765394 pointsource pheromone 1663 -0.847697 -0.961184 1.47388
cmd @ 2.09758 pointsource pheromone 1663 -4.82012 -1.16039 -0.299942
cmd @ 2.8155 pointsource pheromone 1663 -2.72831 2.15781 1.26024
cmd @ 3.90739 pointsource pheromone 1663 -2.46119 1.21493 -2.17994
cmd @ 4.95194 pointsource pheromone 1663 -2.36965 -2.33591 0.856353
cmd @ 6.98426 pointsource pheromone 1663 -3.14497 -2.34088 0.710588
cmd @ 8.60585 pointsource pheromone 1663 -4.75663 1.18853 -0.546408
cmd @ 13.2219 pointsource pheromone 1663 -1.68503 -2.13014 -0.913226
cmd @ 13.3162 pointsource pheromone 1663 -1.81998 -1.87515 1.44595
cmd @ 13.8213 pointsource pheromone 1663 -1.12641 -2.00211 0.0281944
cmd @ 13.9042 pointsource pheromone 1663 -3.33642 -0.813739 2.25537
cmd @ 16.0555 pointsource pheromone 1663 -3.7402 0.409716 -2.20079
output_files ves_26.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_26.xyz
end_file
