random_seed 24
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+12*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 2.00827 pointsource pheromone 1663 -3.66858 0.790754 -2.13088
cmd @ 3.85089 pointsource pheromone 1663 -3.61192 -2.24557 -0.488254
cmd @ 6.89152 pointsource pheromone 1663 -0.186576 -0.264007 -0.489276
cmd @ 6.99861 pointsource pheromone 1663 -3.93718 -1.24269 -1.72884
cmd @ 7.411 pointsource pheromone 1663 -3.97617 1.24751 -1.69501
cmd @ 8.10452 pointsource pheromone 1663 -2.53961 -1.67388 1.8563
cmd @ 9.48282 pointsource pheromone 1663 -3.99925 1.87221 0.92805
cmd @ 11.6147 pointsource pheromone 1663 -3.30861 2.40088 0.153208
cmd @ 12.1779 pointsource pheromone 1663 -1.41067 -2.13134 0.487646
cmd @ 12.1923 pointsource pheromone 1663 -3.79482 1.96925 -1.00428
cmd @ 14.2944 pointsource pheromone 1663 -4.98708 0.725167 -0.386926
cmd @ 15.9048 pointsource pheromone 1663 -4.20358 1.91781 0.291713
output_files ves_24.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_24.xyz
end_file
