random_seed 16
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+12*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 1.06808 pointsource pheromone 1663 -4.39839 0.0556661 -1.76266
cmd @ 1.41189 pointsource pheromone 1663 -0.947716 0.603552 1.75426
cmd @ 1.63959 pointsource pheromone 1663 -3.81302 -0.475208 2.1489
cmd @ 1.91968 pointsource pheromone 1663 -3.43613 -2.32928 0.41412
cmd @ 3.27882 pointsource pheromone 1663 -1.97344 -1.49543 1.89583
cmd @ 4.02398 pointsource pheromone 1663 -2.51098 -0.00795643 -2.49839
cmd @ 6.88527 pointsource pheromone 1663 -1.00849 -1.82342 0.563057
cmd @ 9.48924 pointsource pheromone 1663 -0.132812 -0.157578 0.138456
cmd @ 11.8569 pointsource pheromone 1663 -4.60423 0.256059 1.50734
cmd @ 12.3174 pointsource pheromone 1663 -2.27794 2.47678 -0.00953236
cmd @ 13.1524 pointsource pheromone 1663 -0.616576 -1.44283 0.373455
cmd @ 15.1271 pointsource pheromone 1663 -1.38764 -1.81634 1.19368
output_files ves_16.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_16.xyz
end_file
