random_seed 30
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+12*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.799578 pointsource pheromone 1663 -1.38966 -0.60657 2.0883
cmd @ 0.916375 pointsource pheromone 1663 -3.1763 -2.36658 0.591924
cmd @ 1.4673 pointsource pheromone 1663 -3.30207 1.0197 2.18101
cmd @ 4.18469 pointsource pheromone 1663 -1.05359 1.56696 1.15339
cmd @ 5.30072 pointsource pheromone 1663 -3.75431 -1.48414 1.66643
cmd @ 8.75473 pointsource pheromone 1663 -4.36384 1.29225 1.24961
cmd @ 9.57515 pointsource pheromone 1663 -1.43206 -2.01079 -0.888053
cmd @ 10.573 pointsource pheromone 1663 -3.30184 -0.230602 2.3966
cmd @ 10.5759 pointsource pheromone 1663 -4.86575 -0.717317 -0.848221
cmd @ 10.8239 pointsource pheromone 1663 -4.38135 -1.63838 -0.697096
cmd @ 11.682 pointsource pheromone 1663 -2.52426 -2.46158 -0.430668
cmd @ 11.8145 pointsource pheromone 1663 -4.92584 0.110749 0.974106
cmd @ 14.1712 pointsource pheromone 1663 -0.311458 -0.400275 -0.86157
cmd @ 15.2899 pointsource pheromone 1663 -1.47372 -1.8707 1.19584
output_files ves_30.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_30.xyz
end_file
