random_seed 22
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+12*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 1.87674 pointsource pheromone 1663 -3.20675 2.04716 -1.31366
cmd @ 4.78221 pointsource pheromone 1663 -4.04011 -0.277994 -2.04332
cmd @ 5.08973 pointsource pheromone 1663 -3.89411 0.858817 -1.97656
cmd @ 6.96851 pointsource pheromone 1663 -1.0591 1.33374 1.42271
cmd @ 8.09242 pointsource pheromone 1663 -3.25685 2.36381 0.517874
cmd @ 8.79881 pointsource pheromone 1663 -0.208563 -0.549349 -0.33771
cmd @ 10.5502 pointsource pheromone 1663 -3.35372 -2.01426 1.29101
cmd @ 11.0768 pointsource pheromone 1663 -4.79226 0.976223 0.777801
cmd @ 11.9377 pointsource pheromone 1663 -1.66526 0.791482 2.16967
cmd @ 14.177 pointsource pheromone 1663 -1.77851 2.04219 -1.16957
cmd @ 14.4692 pointsource pheromone 1663 -1.88487 -2.38817 -0.0620059
cmd @ 17.1975 pointsource pheromone 1663 -2.33429 -2.42897 -0.520174
output_files ves_22.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_22.xyz
end_file
