random_seed 2
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+12*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.458687 pointsource pheromone 1663 -1.33157 1.76375 -1.21294
cmd @ 0.961175 pointsource pheromone 1663 -1.44961 -1.8338 -1.22908
cmd @ 3.11905 pointsource pheromone 1663 -1.78122 -1.97414 -1.28289
cmd @ 5.64788 pointsource pheromone 1663 -0.471008 -1.02579 -0.750381
cmd @ 6.47524 pointsource pheromone 1663 -1.91075 2.04808 -1.24508
cmd @ 6.52405 pointsource pheromone 1663 -4.48747 -1.66384 -0.133609
cmd @ 7.80433 pointsource pheromone 1663 -3.74301 1.50555 1.6548
cmd @ 8.44072 pointsource pheromone 1663 -4.76494 -1.27035 0.248717
cmd @ 10.2191 pointsource pheromone 1663 -0.664078 -1.1235 -1.07123
cmd @ 10.5589 pointsource pheromone 1663 -2.52754 -2.15285 1.26915
cmd @ 12.1818 pointsource pheromone 1663 -4.43605 1.69116 0.339244
cmd @ 12.9912 pointsource pheromone 1663 -1.62089 0.518428 -2.23114
cmd @ 13.4165 pointsource pheromone 1663 -4.66114 -0.399 1.39639
cmd @ 13.5537 pointsource pheromone 1663 -1.08582 -0.677454 -1.85121
cmd @ 13.6031 pointsource pheromone 1663 -4.89152 -1.04615 -0.153108
cmd @ 14.3194 pointsource pheromone 1663 -0.267028 0.176665 -0.814713
cmd @ 16.6668 pointsource pheromone 1663 -1.56511 1.72186 1.47201
output_files ves_02.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_02.xyz
end_file
