random_seed 10
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+12*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 2.44207 pointsource pheromone 1663 -1.15157 -1.88671 0.724112
cmd @ 2.44316 pointsource pheromone 1663 -4.02619 1.37897 -1.546
cmd @ 4.54044 pointsource pheromone 1663 -4.87469 1.08894 -0.0899257
cmd @ 8.60746 pointsource pheromone 1663 -0.837786 1.69128 0.447716
cmd @ 9.29374 pointsource pheromone 1663 -2.26226 2.40631 -0.577135
cmd @ 9.44309 pointsource pheromone 1663 -4.50761 -1.08146 -1.24147
cmd @ 9.92032 pointsource pheromone 1663 -3.2362 2.35338 0.585689
cmd @ 11.8906 pointsource pheromone 1663 -2.80746 1.89449 1.62253
cmd @ 13.0752 pointsource pheromone 1663 -0.418118 -0.241349 1.1517
cmd @ 13.9959 pointsource pheromone 1663 -3.99633 2.04881 0.420515
cmd @ 14.0179 pointsource pheromone 1663 -1.489 0.913263 2.03235
cmd @ 16.222 pointsource pheromone 1663 -1.22025 -1.32491 1.58944
output_files ves_10.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_10.xyz
end_file
