random_seed 13
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+12*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.59232 pointsource pheromone 1663 -4.09615 -1.88295 0.738383
cmd @ 2.55441 pointsource pheromone 1663 -3.66329 -2.17155 0.679205
cmd @ 2.91465 pointsource pheromone 1663 -0.710917 -0.686748 -1.45591
cmd @ 4.59604 pointsource pheromone 1663 -3.16267 -2.05552 -1.31937
cmd @ 4.69843 pointsource pheromone 1663 -0.837998 1.6654 0.536734
cmd @ 6.25805 pointsource pheromone 1663 -4.99614 0.768163 -0.206455
cmd @ 6.57552 pointsource pheromone 1663 -3.73063 -1.79018 1.35197
cmd @ 8.55686 pointsource pheromone 1663 -4.01836 1.91229 0.810372
cmd @ 10.0377 pointsource pheromone 1663 -4.20237 0.917424 1.71033
cmd @ 12.8838 pointsource pheromone 1663 -1.53785 -1.89444 -1.21828
cmd @ 13.5387 pointsource pheromone 1663 -4.49116 -1.61344 0.41141
cmd @ 13.991 pointsource pheromone 1663 -4.25269 -0.42599 1.85045
cmd @ 14.7086 pointsource pheromone 1663 -2.84101 2.31954 -0.909993
cmd @ 15.7231 pointsource pheromone 1663 -1.75389 0.809972 2.20003
output_files ves_13.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_13.xyz
end_file
