random_seed 18
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+12*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.678307 pointsource pheromone 1663 -1.42611 0.406922 2.15687
cmd @ 1.20792 pointsource pheromone 1663 -2.91907 -2.18018 1.18968
cmd @ 2.24694 pointsource pheromone 1663 -1.0274 0.672411 1.80292
cmd @ 4.12398 pointsource pheromone 1663 -2.05702 -0.248313 2.42296
cmd @ 4.1875 pointsource pheromone 1663 -1.32695 -1.59055 1.42837
cmd @ 7.1577 pointsource pheromone 1663 -4.5299 -0.160491 -1.61263
cmd @ 9.82721 pointsource pheromone 1663 -3.99429 1.01351 -1.83108
cmd @ 12.1458 pointsource pheromone 1663 -1.45162 0.230638 2.19659
cmd @ 14.2758 pointsource pheromone 1663 -3.34807 2.16476 -1.02274
cmd @ 14.8419 pointsource pheromone 1663 -3.86739 2.16433 -0.164725
cmd @ 15.502 pointsource pheromone 1663 -3.09321 -0.629334 -2.37481
output_files ves_18.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_18.xyz
end_file
