random_seed 4
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+12*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.563975 pointsource pheromone 1663 -1.21425 0.454998 2.01439
cmd @ 1.80794 pointsource pheromone 1663 -0.273385 -0.850187 -0.0456978
cmd @ 2.60032 pointsource pheromone 1663 -4.98522 0.159623 -0.811728
cmd @ 3.68352 pointsource pheromone 1663 -0.671578 -1.41823 -0.654028
cmd @ 6.74554 pointsource pheromone 1663 -1.03913 1.33226 1.40182
cmd @ 8.44137 pointsource pheromone 1663 -4.27273 1.36768 -1.29206
cmd @ 10.9278 pointsource pheromone 1663 -3.84061 0.838334 -2.01853
cmd @ 12.9395 pointsource pheromone 1663 -1.83559 0.861804 2.21114
cmd @ 14.6351 pointsource pheromone 1663 -0.245773 -0.672875 0.376193
cmd @ 15.6735 pointsource pheromone 1663 -0.652652 0.777749 -1.32663
output_files ves_04.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_04.xyz
end_file
