random_seed 28
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+12*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.24578 pointsource pheromone 1663 -2.45837 -0.490796 2.4467
cmd @ 1.38498 pointsource pheromone 1663 -1.53557 0.487342 2.19787
cmd @ 1.95811 pointsource pheromone 1663 -0.31434 0.265061 0.919561
cmd @ 2.61451 pointsource pheromone 1663 -2.10005 -2.43932 0.170756
cmd @ 3.36863 pointsource pheromone 1663 -1.49217 -0.994182 1.99582
cmd @ 4.90202 pointsource pheromone 1663 -3.8372 -1.22657 -1.81138
cmd @ 6.55547 pointsource pheromone 1663 -2.23709 1.8912 -1.58993
cmd @ 7.49978 pointsource pheromone 1663 -1.13224 0.401523 -1.96608
cmd @ 9.25762 pointsource pheromone 1663 -3.51124 -0.795723 2.19918
cmd @ 9.51613 pointsource pheromone 1663 -4.12654 1.9495 -0.447033
cmd @ 9.53275 pointsource pheromone 1663 -1.4958 -0.1114 2.22879
cmd @ 13.6989 pointsource pheromone 1663 -2.8642 -0.481702 2.44249
cmd @ 14.4405 pointsource pheromone 1663 -2.37548 -2.35064 -0.81683
cmd @ 17.3403 pointsource pheromone 1663 -3.74911 -1.83133 -1.27969
output_files ves_28.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_28.xyz
end_file
