random_seed 8
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+12*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.402379 pointsource pheromone 1663 -1.82284 -1.75745 1.58837
cmd @ 1.22472 pointsource pheromone 1663 -2.93263 -1.75871 -1.75137
cmd @ 2.11894 pointsource pheromone 1663 -3.96941 -2.10688 0.0930119
cmd @ 5.46884 pointsource pheromone 1663 -0.271954 -0.403446 0.745255
cmd @ 5.92357 pointsource pheromone 1663 -1.85054 -2.36681 -0.231104
cmd @ 9.67749 pointsource pheromone 1663 -4.35545 0.782749 1.62722
cmd @ 12.8124 pointsource pheromone 1663 -1.15394 0.851 -1.83488
cmd @ 13.5855 pointsource pheromone 1663 -1.49495 2.16342 -0.545529
cmd @ 16.3605 pointsource pheromone 1663 -1.65217 -1.73379 1.51743
output_files ves_08.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_08.xyz
end_file
