random_seed 1
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+12*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.243429 pointsource pheromone 1663 -0.873412 -1.02499 1.46162
cmd @ 0.360976 pointsource pheromone 1663 -0.32498 -0.59837 0.779015
cmd @ 2.81262 pointsource pheromone 1663 -0.879551 0.398357 1.74634
cmd @ 2.92026 pointsource pheromone 1663 -0.48727 -0.941177 0.894033
cmd @ 3.46472 pointsource pheromone 1663 -2.51876 -2.18282 1.21615
cmd @ 6.22977 pointsource pheromone 1663 -4.47754 1.48939 0.7777
cmd @ 7.74845 pointsource pheromone 1663 -1.54212 2.00503 1.03064
cmd @ 8.46543 pointsource pheromone 1663 -0.431336 0.444704 -1.11583
cmd @ 8.51702 pointsource pheromone 1663 -1.20562 0.423721 -2.01515
cmd @ 8.55948 pointsource pheromone 1663 -1.59925 -2.06231 0.974533
cmd @ 10.7544 pointsource pheromone 1663 -3.07018 0.992607 2.25201
cmd @ 10.7899 pointsource pheromone 1663 -0.200748 0.533032 -0.306401
cmd @ 10.8419 pointsource pheromone 1663 -4.18398 1.43551 1.32811
cmd @ 11.7006 pointsource pheromone 1663 -2.07866 -1.87172 -1.56626
cmd @ 11.9653 pointsource pheromone 1663 -5.10601 0.159779 -0.272178
cmd @ 14.2852 pointsource pheromone 1663 -4.00217 -1.80601 1.04724
cmd @ 15.3108 pointsource pheromone 1663 -2.55916 -2.23507 -1.12032
output_files ves_01.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_01.xyz
end_file
