random_seed 23
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+12*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 1.54263 pointsource pheromone 1663 -1.63465 1.05663 -2.03905
cmd @ 5.45176 pointsource pheromone 1663 -0.156732 0.121379 -0.384607
cmd @ 5.9217 pointsource pheromone 1663 -3.87664 -1.85608 1.11506
cmd @ 6.92554 pointsource pheromone 1663 -4.15282 -0.303497 -1.95669
cmd @ 7.86958 pointsource pheromone 1663 -3.74969 -1.22463 -1.86825
cmd @ 8.45709 pointsource pheromone 1663 -1.63398 1.11422 -2.00783
cmd @ 11.8113 pointsource pheromone 1663 -1.45072 1.45686 -1.65941
cmd @ 13.1806 pointsource pheromone 1663 -1.85349 2.19688 -0.912966
cmd @ 13.4869 pointsource pheromone 1663 -3.46159 1.8866 -1.41275
cmd @ 13.9167 pointsource pheromone 1663 -2.63512 1.54664 1.9654
cmd @ 16.3839 pointsource pheromone 1663 -3.34501 -2.37884 0.278801
output_files ves_23.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_23.xyz
end_file
