random_seed 27
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+12*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.16989 pointsource pheromone 1663 -2.99124 -2.38755 -0.648446
cmd @ 0.716548 pointsource pheromone 1663 -1.42281 -1.85393 1.17162
cmd @ 1.94664 pointsource pheromone 1663 -4.34658 -0.823711 -1.61637
cmd @ 1.9502 pointsource pheromone 1663 -0.495291 -0.584291 -1.17386
cmd @ 3.72667 pointsource pheromone 1663 -0.770032 -0.951314 -1.3817
cmd @ 4.23397 pointsource pheromone 1663 -3.61537 1.0084 -2.06332
cmd @ 4.83099 pointsource pheromone 1663 -3.85049 -1.48357 -1.59755
cmd @ 5.95804 pointsource pheromone 1663 -0.47602 0.625085 1.11631
cmd @ 8.27537 pointsource pheromone 1663 -3.98611 1.93828 0.803405
cmd @ 12.6514 pointsource pheromone 1663 -4.42774 1.61225 0.636987
cmd @ 13.6788 pointsource pheromone 1663 -1.2108 0.193569 2.05367
cmd @ 15.6892 pointsource pheromone 1663 -1.94476 -2.06883 1.22973
output_files ves_27.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_27.xyz
end_file
