random_seed 9
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+12*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 3.33304 pointsource pheromone 1663 -0.72563 1.49669 -0.638206
cmd @ 4.4238 pointsource pheromone 1663 -1.82425 2.36879 -0.0515824
cmd @ 5.18506 pointsource pheromone 1663 -3.19714 0.907923 2.25906
cmd @ 6.22474 pointsource pheromone 1663 -1.64471 -0.536261 -2.23751
cmd @ 6.72403 pointsource pheromone 1663 -2.79408 -2.21195 -1.15486
cmd @ 7.27676 pointsource pheromone 1663 -4.8276 1.16027 0.23945
cmd @ 8.73925 pointsource pheromone 1663 -0.316035 -0.868559 -0.411444
cmd @ 9.73734 pointsource pheromone 1663 -0.342634 -0.243959 -0.993122
cmd @ 14.6886 pointsource pheromone 1663 -3.33833 -2.24809 0.832027
cmd @ 14.7077 pointsource pheromone 1663 -4.85227 -0.558855 0.990924
cmd @ 16.8327 pointsource pheromone 1663 -3.58339 -1.65664 -1.60998
output_files ves_09.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_09.xyz
end_file
