random_seed 19
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+12*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.204015 pointsource pheromone 1663 -4.76857 1.2764 -0.175871
cmd @ 0.894894 pointsource pheromone 1663 -2.45604 -1.92174 1.59166
cmd @ 1.08225 pointsource pheromone 1663 -1.07825 1.12707 -1.61006
cmd @ 2.33666 pointsource pheromone 1663 -3.36036 0.893057 -2.21736
cmd @ 3.29582 pointsource pheromone 1663 -4.96508 -0.323832 -0.821083
cmd @ 6.75807 pointsource pheromone 1663 -1.70939 1.81581 -1.45585
cmd @ 8.81449 pointsource pheromone 1663 -0.686643 -1.31457 0.877307
cmd @ 9.30308 pointsource pheromone 1663 -4.01338 0.278722 2.06149
cmd @ 10.6172 pointsource pheromone 1663 -0.895277 1.32459 1.22822
cmd @ 10.7444 pointsource pheromone 1663 -2.83887 -2.47255 0.309431
cmd @ 13.2816 pointsource pheromone 1663 -1.6393 2.24654 0.486251
cmd @ 13.2955 pointsource pheromone 1663 -3.15111 1.62138 -1.83012
cmd @ 14.0275 pointsource pheromone 1663 -2.2679 1.49161 1.9755
cmd @ 14.4396 pointsource pheromone 1663 -0.693652 0.930451 -1.28808
cmd @ 14.4402 pointsource pheromone 1663 -0.281382 0.823093 -0.291506
cmd @ 15.9196 pointsource pheromone 1663 -1.11114 0.126642 1.98675
output_files ves_19.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_19.xyz
end_file
