random_seed 7
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+12*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.925493 pointsource pheromone 1663 -2.80098 2.35495 -0.823545
cmd @ 0.970174 pointsource pheromone 1663 -3.35896 -1.55284 -1.81796
cmd @ 1.68732 pointsource pheromone 1663 -2.90273 -1.5195 -1.96698
cmd @ 2.4616 pointsource pheromone 1663 -4.04678 -2.05735 -0.029142
cmd @ 4.19936 pointsource pheromone 1663 -2.21514 -2.22037 1.07562
cmd @ 5.0495 pointsource pheromone 1663 -1.34242 -0.886799 1.95539
cmd @ 5.60965 pointsource pheromone 1663 -3.78281 1.98146 0.994127
cmd @ 6.06933 pointsource pheromone 1663 -2.34779 0.814833 -2.34823
cmd @ 7.17128 pointsource pheromone 1663 -2.7181 -2.49927 0.000112223
cmd @ 8.36071 pointsource pheromone 1663 -4.08191 0.184774 2.02442
cmd @ 8.37507 pointsource pheromone 1663 -4.49923 -1.54785 0.588567
cmd @ 12.2682 pointsource pheromone 1663 -1.36831 -1.52996 1.52806
cmd @ 12.4131 pointsource pheromone 1663 -4.33842 -0.896507 -1.58602
cmd @ 12.5209 pointsource pheromone 1663 -2.5247 1.5834 1.93333
cmd @ 12.7917 pointsource pheromone 1663 -0.164983 0.448068 -0.0505133
cmd @ 15.5425 pointsource pheromone 1663 -2.26871 0.628564 2.39436
output_files ves_07.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_07.xyz
end_file
