random_seed 3
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+12*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 1.38672 pointsource pheromone 1663 -1.48152 -2.21601 0.191789
cmd @ 2.14425 pointsource pheromone 1663 -1.28262 -0.0326078 -2.10997
cmd @ 4.28013 pointsource pheromone 1663 -4.06991 0.544138 -1.96752
cmd @ 4.88308 pointsource pheromone 1663 -2.29497 -0.0805553 -2.47782
cmd @ 6.4699 pointsource pheromone 1663 -2.32371 -1.90923 1.58715
cmd @ 6.97424 pointsource pheromone 1663 -1.68131 -1.02159 -2.07865
cmd @ 7.41642 pointsource pheromone 1663 -4.39797 1.29184 -1.20113
cmd @ 7.76111 pointsource pheromone 1663 -1.85844 -2.35578 -0.343068
cmd @ 8.70831 pointsource pheromone 1663 -0.991792 -1.02717 -1.5914
cmd @ 11.6534 pointsource pheromone 1663 -2.77779 1.75729 -1.77301
cmd @ 13.4047 pointsource pheromone 1663 -1.51849 1.2722 1.8472
cmd @ 13.5124 pointsource pheromone 1663 -4.80794 -1.19481 0.249401
cmd @ 15.7475 pointsource pheromone 1663 -1.53909 1.39912 1.76586
output_files ves_03.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_03.xyz
end_file
