random_seed 15
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+12*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 1.68171 pointsource pheromone 1663 -1.99978 1.80954 1.60925
cmd @ 2.65056 pointsource pheromone 1663 -4.05327 0.672956 1.93963
cmd @ 3.09519 pointsource pheromone 1663 -4.25906 1.33148 1.34611
cmd @ 4.31146 pointsource pheromone 1663 -4.19362 1.18871 1.54319
cmd @ 4.67506 pointsource pheromone 1663 -2.54767 -2.42341 -0.613267
cmd @ 5.77944 pointsource pheromone 1663 -2.19361 1.98968 1.45262
cmd @ 6.23165 pointsource pheromone 1663 -0.395527 -0.735196 -0.862518
cmd @ 6.64853 pointsource pheromone 1663 -3.80344 -2.18451 -0.306898
cmd @ 7.61765 pointsource pheromone 1663 -1.56875 -1.82505 1.34481
cmd @ 12.2905 pointsource pheromone 1663 -1.76787 1.49732 1.81063
cmd @ 13.6045 pointsource pheromone 1663 -0.130101 -0.158978 0.0721461
cmd @ 14.623 pointsource pheromone 1663 -0.785648 -1.63643 0.440306
cmd @ 16.1773 pointsource pheromone 1663 -1.4981 1.65265 -1.50129
output_files ves_15.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_15.xyz
end_file
