random_seed 14
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+12*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.519928 pointsource pheromone 1663 -4.67878 1.40368 -0.258239
cmd @ 1.39321 pointsource pheromone 1663 -4.03878 1.58713 1.31805
cmd @ 1.92467 pointsource pheromone 1663 -4.0817 -1.5107 1.36045
cmd @ 2.64637 pointsource pheromone 1663 -1.88191 -0.333534 2.36465
cmd @ 3.16306 pointsource pheromone 1663 -2.00878 1.61628 -1.80635
cmd @ 3.88657 pointsource pheromone 1663 -3.10811 -1.37614 -2.03171
cmd @ 4.27511 pointsource pheromone 1663 -5.08966 -0.396785 0.151782
cmd @ 5.04629 pointsource pheromone 1663 -1.01778 -1.91471 -0.0757636
cmd @ 5.05379 pointsource pheromone 1663 -4.46734 1.4579 0.857499
cmd @ 6.85974 pointsource pheromone 1663 -2.7622 -2.49522 0.100302
cmd @ 9.52825 pointsource pheromone 1663 -3.65394 1.45989 -1.75071
cmd @ 12.1538 pointsource pheromone 1663 -4.51081 -1.1328 -1.18975
cmd @ 15.427 pointsource pheromone 1663 -0.556887 0.593157 1.27518
output_files ves_14.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_14.xyz
end_file
