random_seed 12
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+12*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.296998 pointsource pheromone 1663 -3.64017 -2.02761 -1.0551
cmd @ 1.31786 pointsource pheromone 1663 -3.71132 -2.03031 0.976093
cmd @ 4.16768 pointsource pheromone 1663 -0.641303 0.903078 -1.22654
cmd @ 5.7388 pointsource pheromone 1663 -2.24243 2.32462 0.839499
cmd @ 7.96396 pointsource pheromone 1663 -1.29649 -1.97099 -0.777999
cmd @ 9.47199 pointsource pheromone 1663 -2.17861 -2.29926 0.877011
cmd @ 10.4471 pointsource pheromone 1663 -0.178951 0.103269 0.511057
cmd @ 11.2077 pointsource pheromone 1663 -3.67597 0.90597 2.08079
cmd @ 12.1369 pointsource pheromone 1663 -0.131128 0.0180368 -0.187829
cmd @ 12.2951 pointsource pheromone 1663 -4.84194 1.14103 -0.195496
cmd @ 13.0764 pointsource pheromone 1663 -2.32964 -2.31932 -0.887996
cmd @ 13.1453 pointsource pheromone 1663 -2.08431 -2.43765 -0.143272
cmd @ 13.6798 pointsource pheromone 1663 -0.768547 0.424318 -1.62128
cmd @ 13.7311 pointsource pheromone 1663 -3.06585 -2.45826 -0.132623
cmd @ 15.423 pointsource pheromone 1663 -1.26414 1.94204 -0.794695
output_files ves_12.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_12.xyz
end_file
