random_seed 29
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+12*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 1.44825 pointsource pheromone 1663 -2.29115 1.624 -1.87248
cmd @ 1.9061 pointsource pheromone 1663 -3.432 2.07958 1.13097
cmd @ 2.66517 pointsource pheromone 1663 -2.15219 -2.25652 0.969326
cmd @ 3.71978 pointsource pheromone 1663 -0.809724 0.111943 1.71675
cmd @ 4.32143 pointsource pheromone 1663 -0.768422 -0.985518 1.35531
cmd @ 4.66237 pointsource pheromone 1663 -0.285973 0.642411 -0.609313
cmd @ 5.3023 pointsource pheromone 1663 -3.25375 -2.13113 1.14802
cmd @ 6.00866 pointsource pheromone 1663 -2.26804 2.18932 -1.15519
cmd @ 6.6485 pointsource pheromone 1663 -3.78673 -2.21195 -0.112584
cmd @ 7.44421 pointsource pheromone 1663 -4.13992 -1.49067 -1.3183
cmd @ 10.4069 pointsource pheromone 1663 -1.79371 1.68676 1.64888
cmd @ 10.7979 pointsource pheromone 1663 -2.49365 -1.23073 2.17326
cmd @ 10.8024 pointsource pheromone 1663 -1.121 1.21098 -1.5895
cmd @ 12.0343 pointsource pheromone 1663 -0.593751 1.45822 -0.0512015
cmd @ 12.069 pointsource pheromone 1663 -2.09172 1.43151 1.98025
cmd @ 13.3283 pointsource pheromone 1663 -1.79011 0.599316 -2.28008
cmd @ 13.4713 pointsource pheromone 1663 -4.58753 -0.738692 1.36302
cmd @ 14.4076 pointsource pheromone 1663 -3.35254 1.77407 -1.60573
cmd @ 15.457 pointsource pheromone 1663 -3.70563 1.72776 -1.44985
output_files ves_29.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_29.xyz
end_file
