random_seed 17
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+12*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.634936 pointsource pheromone 1663 -0.999016 -1.89869 -0.0785489
cmd @ 2.29747 pointsource pheromone 1663 -1.48256 -1.68434 -1.45356
cmd @ 2.77961 pointsource pheromone 1663 -4.91096 -0.779311 0.649677
cmd @ 5.72955 pointsource pheromone 1663 -0.239723 0.486017 0.573797
cmd @ 6.28609 pointsource pheromone 1663 -3.3294 0.825676 -2.25324
cmd @ 6.77803 pointsource pheromone 1663 -4.59291 0.12915 -1.53806
cmd @ 7.15231 pointsource pheromone 1663 -1.17875 1.41184 -1.47312
cmd @ 7.28975 pointsource pheromone 1663 -1.43934 1.55896 -1.55526
cmd @ 7.31096 pointsource pheromone 1663 -0.303114 0.637587 0.67626
cmd @ 7.62296 pointsource pheromone 1663 -3.12094 2.44372 0.193061
cmd @ 8.26713 pointsource pheromone 1663 -3.46977 -2.35401 -0.0044217
cmd @ 8.35551 pointsource pheromone 1663 -5.04829 -0.554491 -0.274194
cmd @ 9.00246 pointsource pheromone 1663 -0.845033 1.75624 -0.0482328
cmd @ 13.8442 pointsource pheromone 1663 -1.62396 -1.32461 1.87038
cmd @ 16.3546 pointsource pheromone 1663 -2.88339 2.01536 -1.45828
output_files ves_17.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_17.xyz
end_file
