random_seed 21
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+12*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.600014 pointsource pheromone 1663 -5.00478 -0.765641 -0.0738825
cmd @ 1.36302 pointsource pheromone 1663 -1.07655 -1.27322 1.4954
cmd @ 1.73737 pointsource pheromone 1663 -2.73343 -1.09847 -2.24424
cmd @ 2.14885 pointsource pheromone 1663 -1.35054 0.628184 -2.05819
cmd @ 2.44193 pointsource pheromone 1663 -2.27811 -1.1065 2.21593
cmd @ 3.92084 pointsource pheromone 1663 -3.31012 -1.54881 -1.84032
cmd @ 4.35731 pointsource pheromone 1663 -2.89228 -1.54432 -1.94901
cmd @ 5.05322 pointsource pheromone 1663 -0.84988 1.61509 0.703871
cmd @ 6.15215 pointsource pheromone 1663 -3.75587 2.09385 0.769368
cmd @ 9.4634 pointsource pheromone 1663 -2.63846 -2.46611 0.416095
cmd @ 9.7583 pointsource pheromone 1663 -2.7577 -2.11614 -1.3264
cmd @ 11.0484 pointsource pheromone 1663 -2.70474 -0.841212 2.35393
cmd @ 11.6398 pointsource pheromone 1663 -1.68374 -1.0419 -2.06965
cmd @ 11.9955 pointsource pheromone 1663 -4.23762 1.79621 -0.654268
cmd @ 14.6751 pointsource pheromone 1663 -3.59862 -2.25101 0.489904
cmd @ 17.1184 pointsource pheromone 1663 -2.03455 -2.3384 -0.662
output_files ves_21.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_21.xyz
end_file
