random_seed 79
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 2.8999 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 3.1619 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 3.1748 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 6.3870 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 6.4613 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 11.2223 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 11.6738 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 11.9632 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 12.7082 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 12.8529 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 12.9794 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 13.5360 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 15.8899 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
output_files ves_79.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_79.xyz
end_file
