random_seed 96
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 1.0687 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 1.5500 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 1.6314 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 1.8804 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 2.7411 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 3.0722 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 4.1112 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 4.1452 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 4.1596 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 4.3331 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 5.4551 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 6.3913 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 8.0540 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 8.3425 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 8.4905 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 8.5977 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 9.2902 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 9.8993 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 12.1620 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 12.2876 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 13.2351 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 15.1139 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
output_files ves_96.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_96.xyz
end_file
