random_seed 71
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 4.4096 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 5.8794 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 7.2423 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 7.7474 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 7.7997 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 7.8786 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 8.8066 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 10.4996 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 10.8196 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 11.1466 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 11.5033 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 11.8551 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 14.5223 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 14.9777 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 15.8918 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
output_files ves_71.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_71.xyz
end_file
