random_seed 32
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.7607 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 1.6898 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 1.8480 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 2.6293 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 2.6982 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 3.2327 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 3.2840 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 4.9760 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 5.4409 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 6.9154 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 7.3879 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 7.8199 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 11.0137 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 12.6381 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 14.4152 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 14.8948 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
cmd @ 15.0958 pointsource pheromone 1663 -sep_dist/2+0.001 0 0
output_files ves_32.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_32.xyz
end_file
