random_seed 34
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 1.98984 pointsource pheromone 1663 -4.22309 -1.79046 -0.703826
cmd @ 2.7095 pointsource pheromone 1663 -0.745527 1.63734 0.204171
cmd @ 4.33235 pointsource pheromone 1663 -4.78773 1.2531 0.0855267
cmd @ 5.73983 pointsource pheromone 1663 -1.27919 -1.16972 -1.75372
cmd @ 10.6864 pointsource pheromone 1663 -3.70604 0.470419 -2.20569
cmd @ 11.3183 pointsource pheromone 1663 -4.26781 1.52282 1.11229
cmd @ 11.3636 pointsource pheromone 1663 -0.676533 1.32631 0.836286
cmd @ 11.5569 pointsource pheromone 1663 -3.32976 2.34846 0.493011
cmd @ 17.3019 pointsource pheromone 1663 -1.19035 2.02373 -0.318242
output_files ves_34.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_34.xyz
end_file
