random_seed 97
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.940205 pointsource pheromone 1663 -1.8682 -2.22402 0.857901
cmd @ 1.76233 pointsource pheromone 1663 -2.44086 0.570719 -2.42804
cmd @ 2.49311 pointsource pheromone 1663 -2.42023 -2.46962 0.337694
cmd @ 3.75689 pointsource pheromone 1663 -3.98859 -1.98529 0.673971
cmd @ 5.22164 pointsource pheromone 1663 -2.78047 -1.57394 1.93741
cmd @ 5.6394 pointsource pheromone 1663 -3.44641 -1.4072 -1.89739
cmd @ 5.72041 pointsource pheromone 1663 -3.18679 -2.42275 -0.26397
cmd @ 6.33886 pointsource pheromone 1663 -4.13549 -1.84898 0.744778
cmd @ 6.95948 pointsource pheromone 1663 -3.13698 -1.05979 -2.20674
cmd @ 7.31924 pointsource pheromone 1663 -2.32033 1.84501 -1.66076
cmd @ 8.49195 pointsource pheromone 1663 -0.373009 -1.08523 0.0761854
cmd @ 9.43198 pointsource pheromone 1663 -3.71611 -2.08806 0.839337
cmd @ 10.2334 pointsource pheromone 1663 -0.803723 1.02314 -1.37518
cmd @ 10.3212 pointsource pheromone 1663 -2.92432 1.37185 2.06965
cmd @ 11.2678 pointsource pheromone 1663 -2.34193 2.14332 -1.2574
cmd @ 11.8027 pointsource pheromone 1663 -3.69191 -2.13659 0.74275
cmd @ 12.7269 pointsource pheromone 1663 -3.15505 -1.76941 1.68619
cmd @ 13.429 pointsource pheromone 1663 -2.72317 -0.683492 -2.40379
cmd @ 17.217 pointsource pheromone 1663 -3.79255 -0.67813 2.10523
output_files ves_97.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_97.xyz
end_file
