random_seed 12
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.266699 pointsource pheromone 1663 -0.951736 1.11132 1.49002
cmd @ 0.352596 pointsource pheromone 1663 -3.1198 -2.00014 1.4176
cmd @ 6.71559 pointsource pheromone 1663 -3.97672 -1.33355 1.62773
cmd @ 7.22729 pointsource pheromone 1663 -0.228321 0.536078 -0.472814
cmd @ 7.68802 pointsource pheromone 1663 -2.6198 2.49917 -0.095554
cmd @ 9.31785 pointsource pheromone 1663 -0.978505 -1.52991 -1.09701
cmd @ 9.52049 pointsource pheromone 1663 -3.27421 -0.466358 -2.36982
cmd @ 10.975 pointsource pheromone 1663 -1.58058 1.54095 1.67022
cmd @ 15.2721 pointsource pheromone 1663 -1.98704 1.76828 1.6496
output_files ves_12.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_12.xyz
end_file
