random_seed 8
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.208052 pointsource pheromone 1663 -3.1232 -1.03321 -2.22245
cmd @ 1.79732 pointsource pheromone 1663 -0.415005 0.480264 -1.06783
cmd @ 2.58742 pointsource pheromone 1663 -1.30172 0.699472 2.00366
cmd @ 3.54459 pointsource pheromone 1663 -1.22981 -2.00905 -0.521716
cmd @ 4.82199 pointsource pheromone 1663 -1.42116 2.16443 -0.347878
cmd @ 5.03034 pointsource pheromone 1663 -4.54779 1.11736 1.14427
cmd @ 5.05132 pointsource pheromone 1663 -3.51658 0.593926 2.25994
cmd @ 5.60691 pointsource pheromone 1663 -1.70987 -0.564875 2.25797
cmd @ 7.6357 pointsource pheromone 1663 -3.91288 1.86964 -1.0492
cmd @ 10.1251 pointsource pheromone 1663 -1.08236 -1.33099 -1.45043
cmd @ 10.7723 pointsource pheromone 1663 -0.924448 1.83101 0.10262
cmd @ 12.0946 pointsource pheromone 1663 -0.592155 -1.3729 -0.487544
cmd @ 13.6581 pointsource pheromone 1663 -2.33741 1.31614 -2.10715
cmd @ 14.3679 pointsource pheromone 1663 -0.390817 -0.999326 0.514564
cmd @ 16.4016 pointsource pheromone 1663 -4.32043 1.64314 0.824987
output_files ves_08.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_08.xyz
end_file
