random_seed 80
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 3.2375 pointsource pheromone 1663 -4.43856 -1.65648 0.471254
cmd @ 3.23917 pointsource pheromone 1663 -3.74182 -1.91241 -1.16206
cmd @ 3.73092 pointsource pheromone 1663 -4.40346 0.922176 1.49722
cmd @ 5.48118 pointsource pheromone 1663 -0.350974 -1.02998 -0.151465
cmd @ 8.31243 pointsource pheromone 1663 -3.48503 2.32881 -0.303262
cmd @ 10.003 pointsource pheromone 1663 -3.40608 2.09247 -1.12539
cmd @ 10.1248 pointsource pheromone 1663 -1.42583 1.42654 -1.66793
cmd @ 11.938 pointsource pheromone 1663 -4.03066 0.0534827 -2.06791
cmd @ 12.8111 pointsource pheromone 1663 -1.03106 -0.78909 -1.75832
cmd @ 12.9242 pointsource pheromone 1663 -1.42435 1.90457 1.08905
cmd @ 14.8737 pointsource pheromone 1663 -3.71544 -2.13661 -0.707685
cmd @ 15.8276 pointsource pheromone 1663 -2.24373 0.243505 -2.45974
output_files ves_80.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_80.xyz
end_file
