random_seed 86
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.181505 pointsource pheromone 1663 -0.25931 0.774456 0.242344
cmd @ 4.91224 pointsource pheromone 1663 -0.742297 0.112725 1.64248
cmd @ 5.28884 pointsource pheromone 1663 -0.710801 -1.23949 1.02689
cmd @ 5.52945 pointsource pheromone 1663 -2.5219 2.45869 0.446336
cmd @ 8.08634 pointsource pheromone 1663 -1.20624 -0.573102 1.9783
cmd @ 8.93731 pointsource pheromone 1663 -4.21846 -1.2558 1.46248
cmd @ 10.1932 pointsource pheromone 1663 -1.34549 -2.12776 0.300826
cmd @ 10.4977 pointsource pheromone 1663 -0.455421 0.00947562 -1.24412
cmd @ 11.9878 pointsource pheromone 1663 -4.87884 1.02707 -0.346874
cmd @ 12.2172 pointsource pheromone 1663 -1.73547 -0.886928 -2.16266
cmd @ 14.3011 pointsource pheromone 1663 -3.64715 1.61273 -1.61534
cmd @ 14.4752 pointsource pheromone 1663 -2.56955 2.22561 1.13955
cmd @ 14.5665 pointsource pheromone 1663 -3.13096 2.0671 -1.31382
cmd @ 16.5325 pointsource pheromone 1663 -1.29923 1.59561 -1.39691
output_files ves_86.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_86.xyz
end_file
