random_seed 56
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.553792 pointsource pheromone 1663 -2.9246 2.08401 -1.34987
cmd @ 1.46903 pointsource pheromone 1663 -3.70024 1.32422 -1.82902
cmd @ 3.89794 pointsource pheromone 1663 -0.125012 -0.0220765 0.0676313
cmd @ 4.6095 pointsource pheromone 1663 -4.27472 1.4028 -1.25124
cmd @ 4.64629 pointsource pheromone 1663 -4.24202 1.83992 -0.504914
cmd @ 5.61585 pointsource pheromone 1663 -0.387479 -1.11713 -0.0226444
cmd @ 6.24074 pointsource pheromone 1663 -2.89274 -0.219196 -2.47695
cmd @ 8.85255 pointsource pheromone 1663 -4.39742 -1.08965 1.38787
cmd @ 10.7654 pointsource pheromone 1663 -4.00005 -2.08427 0.14163
cmd @ 12.9207 pointsource pheromone 1663 -2.1891 -0.845332 2.31309
cmd @ 16.8413 pointsource pheromone 1663 -3.40924 1.85249 1.48602
output_files ves_56.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_56.xyz
end_file
