random_seed 31
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.211858 pointsource pheromone 1663 -2.52028 -0.850081 2.34977
cmd @ 0.392001 pointsource pheromone 1663 -2.93117 0.263849 2.46813
cmd @ 1.16117 pointsource pheromone 1663 -3.41961 1.52632 -1.81492
cmd @ 2.03967 pointsource pheromone 1663 -4.48371 1.64379 0.313304
cmd @ 2.17827 pointsource pheromone 1663 -4.28684 -1.85741 0.208115
cmd @ 5.42412 pointsource pheromone 1663 -3.35196 1.6801 -1.70405
cmd @ 6.22532 pointsource pheromone 1663 -1.63721 1.40766 -1.81597
cmd @ 6.7917 pointsource pheromone 1663 -3.24842 -2.41567 -0.175748
cmd @ 7.15979 pointsource pheromone 1663 -0.890685 1.49584 1.0048
cmd @ 8.90578 pointsource pheromone 1663 -1.77886 1.79773 1.51895
cmd @ 13.447 pointsource pheromone 1663 -5.10467 -0.217998 0.242289
cmd @ 15.7913 pointsource pheromone 1663 -2.08668 1.98465 1.42351
output_files ves_31.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_31.xyz
end_file
