random_seed 22
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.510402 pointsource pheromone 1663 -0.984764 -0.114051 -1.88457
cmd @ 0.749977 pointsource pheromone 1663 -2.78611 -1.81077 -1.7176
cmd @ 1.06625 pointsource pheromone 1663 -4.33863 0.746067 1.66188
cmd @ 2.23409 pointsource pheromone 1663 -3.47055 1.02328 -2.11966
cmd @ 4.2079 pointsource pheromone 1663 -4.71458 -0.78098 -1.1308
cmd @ 4.72608 pointsource pheromone 1663 -1.07707 1.69162 0.998674
cmd @ 11.409 pointsource pheromone 1663 -4.55037 0.170962 -1.58705
cmd @ 12.9091 pointsource pheromone 1663 -1.01058 1.19187 -1.49268
cmd @ 13.4419 pointsource pheromone 1663 -1.07437 1.75319 -0.881407
cmd @ 14.0645 pointsource pheromone 1663 -0.248697 -0.763121 0.160717
cmd @ 15.3987 pointsource pheromone 1663 -2.58892 2.48098 -0.313744
output_files ves_22.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_22.xyz
end_file
