random_seed 67
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.0728685 pointsource pheromone 1663 -4.6209 1.1804 0.937039
cmd @ 2.90057 pointsource pheromone 1663 -3.90357 -1.95188 0.900247
cmd @ 4.20342 pointsource pheromone 1663 -0.953405 0.0987022 -1.85769
cmd @ 4.71327 pointsource pheromone 1663 -2.46576 -1.81787 1.71026
cmd @ 5.52748 pointsource pheromone 1663 -2.64695 -1.14479 2.22351
cmd @ 6.27964 pointsource pheromone 1663 -0.802008 -1.00647 -1.38518
cmd @ 7.43187 pointsource pheromone 1663 -4.66651 -0.125443 1.43928
cmd @ 7.74406 pointsource pheromone 1663 -5.03194 -0.341817 0.587195
cmd @ 9.24574 pointsource pheromone 1663 -4.69624 -0.793693 1.15542
cmd @ 9.75884 pointsource pheromone 1663 -0.320079 0.970072 -0.0360818
cmd @ 9.85508 pointsource pheromone 1663 -2.32746 2.34625 -0.81337
cmd @ 11.1698 pointsource pheromone 1663 -4.69492 -0.696191 1.21892
cmd @ 11.4151 pointsource pheromone 1663 -4.75561 1.30922 0.0381069
cmd @ 11.6987 pointsource pheromone 1663 -1.20905 1.48845 -1.42639
cmd @ 14.1755 pointsource pheromone 1663 -3.2866 2.39888 -0.250271
cmd @ 16.3722 pointsource pheromone 1663 -2.49058 2.1988 -1.18416
output_files ves_67.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_67.xyz
end_file
