random_seed 38
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 1.46609 pointsource pheromone 1663 -4.37339 0.634116 -1.67214
cmd @ 1.4976 pointsource pheromone 1663 -3.71289 0.803538 2.10376
cmd @ 1.8164 pointsource pheromone 1663 -4.02278 -0.0997128 2.07154
cmd @ 3.49371 pointsource pheromone 1663 -2.27655 0.227117 2.46617
cmd @ 3.94819 pointsource pheromone 1663 -0.718164 1.32115 -0.934636
cmd @ 6.30228 pointsource pheromone 1663 -2.08536 -2.38777 0.512206
cmd @ 6.85153 pointsource pheromone 1663 -4.86081 0.486381 -1.00975
cmd @ 7.03484 pointsource pheromone 1663 -1.09691 1.69368 -1.02537
cmd @ 7.16027 pointsource pheromone 1663 -1.46066 2.01553 -0.914846
cmd @ 8.41301 pointsource pheromone 1663 -1.18318 1.19033 1.6611
cmd @ 9.26945 pointsource pheromone 1663 -0.591636 -0.366835 -1.40921
cmd @ 9.72846 pointsource pheromone 1663 -2.88891 -0.931877 -2.30585
cmd @ 10.1452 pointsource pheromone 1663 -4.3774 -1.57048 0.84716
cmd @ 11.0655 pointsource pheromone 1663 -2.34448 0.0667908 -2.48432
cmd @ 12.2652 pointsource pheromone 1663 -1.54737 1.34449 1.81275
cmd @ 13.7763 pointsource pheromone 1663 -3.03152 2.46264 0.158521
cmd @ 16.8346 pointsource pheromone 1663 -5.07891 -0.34486 0.338224
output_files ves_38.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_38.xyz
end_file
