random_seed 61
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 1.28127 pointsource pheromone 1663 -0.809414 1.64352 -0.507451
cmd @ 1.85641 pointsource pheromone 1663 -1.67455 -1.69383 -1.57562
cmd @ 3.27194 pointsource pheromone 1663 -4.28666 -0.00820379 -1.86917
cmd @ 6.14294 pointsource pheromone 1663 -1.22959 -1.59025 1.33376
cmd @ 6.91633 pointsource pheromone 1663 -4.86754 -0.959637 -0.552374
cmd @ 7.14444 pointsource pheromone 1663 -4.20614 0.0981041 1.93529
cmd @ 7.46435 pointsource pheromone 1663 -0.556056 -1.40514 -0.00805845
cmd @ 7.52824 pointsource pheromone 1663 -4.03452 -0.261791 2.04932
cmd @ 8.83263 pointsource pheromone 1663 -4.46189 -0.988875 1.37948
cmd @ 9.95206 pointsource pheromone 1663 -3.94411 -2.11941 -0.151774
cmd @ 12.2026 pointsource pheromone 1663 -2.16282 2.40376 0.513154
cmd @ 13.5064 pointsource pheromone 1663 -1.82562 1.82391 -1.51306
cmd @ 14.2087 pointsource pheromone 1663 -1.55229 -1.26413 -1.8725
cmd @ 14.9183 pointsource pheromone 1663 -4.13863 -1.96612 -0.313534
cmd @ 17.0923 pointsource pheromone 1663 -4.29763 -1.43047 1.18789
output_files ves_61.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_61.xyz
end_file
