random_seed 41
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.0620336 pointsource pheromone 1663 -2.39722 2.36832 -0.770821
cmd @ 0.118998 pointsource pheromone 1663 -1.56028 -1.49508 -1.69886
cmd @ 0.488126 pointsource pheromone 1663 -1.25689 2.09318 0.0433137
cmd @ 1.62307 pointsource pheromone 1663 -4.09102 -1.1123 -1.69369
cmd @ 5.44464 pointsource pheromone 1663 -3.82158 -1.36509 1.72039
cmd @ 6.08579 pointsource pheromone 1663 -2.18071 -2.1612 -1.17764
cmd @ 6.76466 pointsource pheromone 1663 -3.39008 1.77722 -1.58466
cmd @ 7.99438 pointsource pheromone 1663 -4.84432 0.760261 -0.866954
cmd @ 8.14598 pointsource pheromone 1663 -2.85991 1.23919 2.15968
cmd @ 8.70523 pointsource pheromone 1663 -4.58588 1.43046 -0.603125
cmd @ 9.26547 pointsource pheromone 1663 -3.67959 -0.696027 -2.15833
cmd @ 10.7128 pointsource pheromone 1663 -2.00412 2.14904 1.11854
cmd @ 13.7951 pointsource pheromone 1663 -4.40766 -0.910394 -1.49944
cmd @ 15.2506 pointsource pheromone 1663 -1.25526 -2.05749 -0.381503
output_files ves_41.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_41.xyz
end_file
