random_seed 3
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.193312 pointsource pheromone 1663 -4.36329 1.52833 -0.947397
cmd @ 2.16053 pointsource pheromone 1663 -0.684204 0.0433637 1.57684
cmd @ 4.63908 pointsource pheromone 1663 -4.22963 -1.90089 -0.258406
cmd @ 11.6264 pointsource pheromone 1663 -2.55114 1.98662 1.51753
cmd @ 13.857 pointsource pheromone 1663 -1.82929 -1.58695 1.76166
cmd @ 14.6019 pointsource pheromone 1663 -3.45079 0.172356 2.35444
cmd @ 15.4004 pointsource pheromone 1663 -1.89508 -1.13054 -2.1081
output_files ves_03.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_03.xyz
end_file
