random_seed 92
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.67263 pointsource pheromone 1663 -4.30281 0.606494 1.75275
cmd @ 2.0671 pointsource pheromone 1663 -3.73333 0.0380735 2.24168
cmd @ 2.41341 pointsource pheromone 1663 -2.12255 -1.62279 -1.83551
cmd @ 3.70676 pointsource pheromone 1663 -2.49683 1.66465 -1.86213
cmd @ 3.85411 pointsource pheromone 1663 -3.75529 -0.246099 -2.2174
cmd @ 5.15811 pointsource pheromone 1663 -3.26474 0.127984 2.4144
cmd @ 5.42914 pointsource pheromone 1663 -3.31788 -1.52741 1.85525
cmd @ 5.68715 pointsource pheromone 1663 -4.88863 0.0539065 -1.06211
cmd @ 9.24042 pointsource pheromone 1663 -2.23045 0.881479 2.30702
cmd @ 10.3216 pointsource pheromone 1663 -2.58227 -1.08566 2.25267
cmd @ 10.3636 pointsource pheromone 1663 -3.54914 -1.71317 -1.57035
cmd @ 11.4103 pointsource pheromone 1663 -2.91513 1.13464 -2.20984
cmd @ 12.7255 pointsource pheromone 1663 -0.465686 0.613624 -1.10265
cmd @ 13.2624 pointsource pheromone 1663 -1.5043 2.05287 0.885857
cmd @ 13.4443 pointsource pheromone 1663 -0.671226 -1.37464 -0.740359
cmd @ 13.7269 pointsource pheromone 1663 -0.98665 1.19283 1.4656
cmd @ 14.4625 pointsource pheromone 1663 -4.89835 0.456914 0.937081
cmd @ 14.8175 pointsource pheromone 1663 -3.63322 -2.25478 -0.392978
cmd @ 15.1757 pointsource pheromone 1663 -3.9249 -2.02974 0.667403
output_files ves_92.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_92.xyz
end_file
