random_seed 63
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.467508 pointsource pheromone 1663 -1.39246 -0.323471 2.15202
cmd @ 0.574363 pointsource pheromone 1663 -4.20553 1.77628 -0.775748
cmd @ 0.808732 pointsource pheromone 1663 -3.41937 -2.10953 1.08345
cmd @ 1.52172 pointsource pheromone 1663 -1.86079 -2.33484 0.46854
cmd @ 6.46883 pointsource pheromone 1663 -0.59044 1.42371 0.297665
cmd @ 9.26917 pointsource pheromone 1663 -0.559643 0.573255 1.28867
cmd @ 10.0581 pointsource pheromone 1663 -3.9429 -2.06655 0.497496
cmd @ 10.1159 pointsource pheromone 1663 -2.29931 2.23745 1.069
cmd @ 10.3187 pointsource pheromone 1663 -3.00411 -2.34608 -0.779222
cmd @ 10.3985 pointsource pheromone 1663 -0.846509 0.371232 1.71877
cmd @ 10.4306 pointsource pheromone 1663 -2.30692 -2.48022 0.0482525
cmd @ 11.6036 pointsource pheromone 1663 -3.16811 -1.95928 1.45645
cmd @ 12.954 pointsource pheromone 1663 -3.30693 1.22816 2.0692
cmd @ 13.2442 pointsource pheromone 1663 -4.63186 -1.04978 -1.06088
cmd @ 15.0857 pointsource pheromone 1663 -2.79042 1.55519 1.95167
output_files ves_63.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_63.xyz
end_file
