random_seed 58
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.600903 pointsource pheromone 1663 -1.79863 -0.0476498 -2.36005
cmd @ 1.28905 pointsource pheromone 1663 -2.99365 -1.41845 2.0266
cmd @ 1.48795 pointsource pheromone 1663 -1.54697 -1.21002 -1.90492
cmd @ 2.98002 pointsource pheromone 1663 -0.238947 -0.688741 -0.295614
cmd @ 3.4677 pointsource pheromone 1663 -1.4104 -1.20305 1.82549
cmd @ 4.07009 pointsource pheromone 1663 -4.10602 1.90559 0.655995
cmd @ 4.57011 pointsource pheromone 1663 -2.15232 -0.539222 -2.396
cmd @ 5.96173 pointsource pheromone 1663 -0.478121 1.125 -0.616674
cmd @ 7.27292 pointsource pheromone 1663 -2.08772 0.731675 -2.33045
cmd @ 9.25719 pointsource pheromone 1663 -2.15268 -2.29896 -0.86412
cmd @ 11.9846 pointsource pheromone 1663 -1.84557 -1.72692 -1.63256
cmd @ 13.4693 pointsource pheromone 1663 -3.36412 -1.47614 1.87875
cmd @ 14.7002 pointsource pheromone 1663 -2.53045 -2.10168 -1.35241
cmd @ 15.4416 pointsource pheromone 1663 -4.146 1.86362 -0.684453
output_files ves_58.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_58.xyz
end_file
