random_seed 36
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.411435 pointsource pheromone 1663 -4.13514 -0.449032 -1.94238
cmd @ 1.4964 pointsource pheromone 1663 -0.635892 -1.36163 0.666652
cmd @ 6.53535 pointsource pheromone 1663 -0.624725 -1.35184 0.653026
cmd @ 9.6183 pointsource pheromone 1663 -0.307852 0.207704 -0.917978
cmd @ 10.243 pointsource pheromone 1663 -0.781892 1.5616 0.647575
cmd @ 11.2022 pointsource pheromone 1663 -0.448838 0.872845 0.870323
cmd @ 11.2927 pointsource pheromone 1663 -4.906 0.325525 -0.97266
cmd @ 14.0905 pointsource pheromone 1663 -4.88956 -0.233216 1.03556
cmd @ 15.2544 pointsource pheromone 1663 -1.72024 -2.14186 -0.921327
output_files ves_36.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_36.xyz
end_file
