random_seed 79
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.113215 pointsource pheromone 1663 -4.79412 0.888543 -0.872011
cmd @ 1.06095 pointsource pheromone 1663 -0.968806 1.05007 1.55222
cmd @ 1.40488 pointsource pheromone 1663 -4.54438 1.40265 0.776882
cmd @ 3.40789 pointsource pheromone 1663 -2.87979 -0.11378 -2.48538
cmd @ 6.33752 pointsource pheromone 1663 -3.97712 -1.89467 -0.914879
cmd @ 8.2085 pointsource pheromone 1663 -2.87419 2.48068 -0.197838
cmd @ 8.89962 pointsource pheromone 1663 -4.05104 -1.39345 1.50987
cmd @ 9.3902 pointsource pheromone 1663 -3.3462 -0.291665 -2.37693
cmd @ 9.4647 pointsource pheromone 1663 -2.02289 -2.14574 -1.13501
cmd @ 13.2815 pointsource pheromone 1663 -1.60058 -2.0775 0.943151
cmd @ 15.4317 pointsource pheromone 1663 -4.56025 -1.47987 -0.565476
output_files ves_79.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_79.xyz
end_file
