random_seed 88
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 2.43549 pointsource pheromone 1663 -3.94034 -0.16945 -2.12042
cmd @ 2.79218 pointsource pheromone 1663 -4.68423 1.37575 -0.349075
cmd @ 3.90771 pointsource pheromone 1663 -3.73987 -1.74009 -1.40861
cmd @ 5.01533 pointsource pheromone 1663 -0.446218 1.21728 -0.161706
cmd @ 5.61854 pointsource pheromone 1663 -2.95036 -2.41331 0.570147
cmd @ 10.0551 pointsource pheromone 1663 -0.861494 -1.27117 -1.2366
cmd @ 11.1809 pointsource pheromone 1663 -2.22837 2.08598 -1.3215
cmd @ 14.5894 pointsource pheromone 1663 -1.7814 -2.12563 1.01245
cmd @ 15.031 pointsource pheromone 1663 -0.986812 -1.56758 1.05548
output_files ves_88.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_88.xyz
end_file
