random_seed 73
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.374906 pointsource pheromone 1663 -4.38882 0.185983 -1.76333
cmd @ 0.429611 pointsource pheromone 1663 -3.37351 1.72995 -1.64378
cmd @ 0.751946 pointsource pheromone 1663 -4.60545 -1.30817 0.788355
cmd @ 3.7515 pointsource pheromone 1663 -3.28177 0.916474 -2.23243
cmd @ 3.82723 pointsource pheromone 1663 -1.52638 0.335472 -2.2216
cmd @ 3.85795 pointsource pheromone 1663 -2.06534 0.26988 -2.42259
cmd @ 4.45081 pointsource pheromone 1663 -0.447038 -0.363511 1.17445
cmd @ 4.50241 pointsource pheromone 1663 -2.61155 -0.897529 -2.33437
cmd @ 5.81716 pointsource pheromone 1663 -1.00057 1.4801 -1.19396
cmd @ 5.94073 pointsource pheromone 1663 -1.97891 -0.511923 2.36125
cmd @ 15.3424 pointsource pheromone 1663 -0.245963 -0.0886241 -0.766375
output_files ves_73.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_73.xyz
end_file
