random_seed 5
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 5.79143 pointsource pheromone 1663 -0.871371 -1.57687 0.832618
cmd @ 6.37686 pointsource pheromone 1663 -1.39867 -1.73925 1.31383
cmd @ 7.44163 pointsource pheromone 1663 -1.77968 -2.25791 0.665028
cmd @ 9.09356 pointsource pheromone 1663 -3.19497 -2.2449 0.943695
cmd @ 9.60084 pointsource pheromone 1663 -3.70117 2.25207 0.158306
cmd @ 10.9535 pointsource pheromone 1663 -1.831 -0.812231 -2.22819
cmd @ 13.6461 pointsource pheromone 1663 -5.10328 -0.00624068 -0.336318
cmd @ 14.3879 pointsource pheromone 1663 -0.633955 -1.36628 0.651177
cmd @ 16.5294 pointsource pheromone 1663 -0.174563 -0.262177 0.426172
output_files ves_05.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_05.xyz
end_file
