random_seed 81
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 1.17228 pointsource pheromone 1663 -2.68948 0.459181 -2.45764
cmd @ 1.45487 pointsource pheromone 1663 -0.375504 -1.08836 0.101138
cmd @ 2.41068 pointsource pheromone 1663 -5.06003 0.558358 0.117696
cmd @ 5.15062 pointsource pheromone 1663 -3.84745 2.01435 -0.838441
cmd @ 5.40709 pointsource pheromone 1663 -0.134217 -0.183627 -0.131468
cmd @ 5.9017 pointsource pheromone 1663 -2.67139 -2.35162 0.850134
cmd @ 6.8441 pointsource pheromone 1663 -1.99567 -2.13647 -1.13774
cmd @ 7.59083 pointsource pheromone 1663 -3.10139 2.20162 1.08671
cmd @ 8.35256 pointsource pheromone 1663 -1.88143 1.70761 1.66918
cmd @ 8.90206 pointsource pheromone 1663 -2.11443 0.924104 2.26723
cmd @ 9.42013 pointsource pheromone 1663 -2.91768 -1.67997 -1.82949
cmd @ 11.3817 pointsource pheromone 1663 -1.8636 -1.00627 2.15933
cmd @ 11.6442 pointsource pheromone 1663 -4.87777 -0.961191 -0.506086
cmd @ 13.5768 pointsource pheromone 1663 -4.76118 0.820992 1.00881
cmd @ 14.6322 pointsource pheromone 1663 -2.67751 0.831075 -2.3583
cmd @ 16.3492 pointsource pheromone 1663 -2.33236 -0.0992378 2.48184
output_files ves_81.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_81.xyz
end_file
