random_seed 82
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.295959 pointsource pheromone 1663 -0.24403 0.0642903 0.762789
cmd @ 0.308618 pointsource pheromone 1663 -4.28021 1.76952 -0.619752
cmd @ 1.16203 pointsource pheromone 1663 -4.95684 0.900564 0.0806515
cmd @ 3.60439 pointsource pheromone 1663 -3.39884 2.3758 -0.108434
cmd @ 4.51568 pointsource pheromone 1663 -0.741251 0.0739758 -1.64348
cmd @ 4.86924 pointsource pheromone 1663 -3.34538 2.05932 1.22281
cmd @ 5.33901 pointsource pheromone 1663 -4.62513 -1.11425 1.00644
cmd @ 5.49903 pointsource pheromone 1663 -2.02683 -1.67254 1.76063
cmd @ 5.8278 pointsource pheromone 1663 -0.871284 1.60022 0.786633
cmd @ 6.40113 pointsource pheromone 1663 -2.58258 -2.28713 1.01105
cmd @ 7.93561 pointsource pheromone 1663 -3.38278 -0.588697 -2.30959
cmd @ 9.22996 pointsource pheromone 1663 -1.82996 2.21486 -0.84693
cmd @ 9.44315 pointsource pheromone 1663 -3.91164 -1.6129 -1.41355
cmd @ 10.5744 pointsource pheromone 1663 -2.01393 0.320651 2.40391
cmd @ 13.5698 pointsource pheromone 1663 -2.45275 0.618316 2.41723
cmd @ 13.7413 pointsource pheromone 1663 -4.28614 -1.38075 -1.26061
cmd @ 14.7292 pointsource pheromone 1663 -4.87372 -0.254812 1.06458
cmd @ 16.8198 pointsource pheromone 1663 -2.72377 1.59079 -1.92734
output_files ves_82.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_82.xyz
end_file
