random_seed 51
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.161783 pointsource pheromone 1663 -1.26253 0.067778 2.0962
cmd @ 1.64965 pointsource pheromone 1663 -4.50001 1.1783 1.16229
cmd @ 2.14897 pointsource pheromone 1663 -1.49486 1.57845 1.5768
cmd @ 3.88524 pointsource pheromone 1663 -0.872447 -1.11835 1.39027
cmd @ 4.4494 pointsource pheromone 1663 -2.51513 -2.45317 -0.474202
cmd @ 7.52468 pointsource pheromone 1663 -3.36298 -2.3671 0.327436
cmd @ 7.56485 pointsource pheromone 1663 -4.67355 -1.20693 -0.775737
cmd @ 8.15213 pointsource pheromone 1663 -3.14622 -1.7623 -1.69636
cmd @ 9.29006 pointsource pheromone 1663 -0.143415 0.0236064 0.310128
cmd @ 13.4335 pointsource pheromone 1663 -5.00768 -0.716391 0.25424
cmd @ 13.616 pointsource pheromone 1663 -3.06794 -1.21917 2.13833
cmd @ 14.2159 pointsource pheromone 1663 -1.23633 -0.507749 2.01712
cmd @ 14.412 pointsource pheromone 1663 -3.66275 -0.795665 2.1319
cmd @ 15.2245 pointsource pheromone 1663 -0.865911 1.5895 -0.796311
output_files ves_51.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_51.xyz
end_file
