random_seed 33
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 4.18515 pointsource pheromone 1663 -2.22629 -2.45486 0.26396
cmd @ 5.07623 pointsource pheromone 1663 -4.71427 -0.747616 1.1537
cmd @ 5.53712 pointsource pheromone 1663 -2.40391 -1.47849 2.00504
cmd @ 8.10874 pointsource pheromone 1663 -1.31783 1.54355 1.47097
cmd @ 9.8238 pointsource pheromone 1663 -2.31327 0.778946 -2.35607
cmd @ 11.2982 pointsource pheromone 1663 -1.43933 1.22179 -1.83205
cmd @ 13.3841 pointsource pheromone 1663 -1.77297 0.888242 2.17717
cmd @ 14.7241 pointsource pheromone 1663 -2.79411 1.15037 2.21428
cmd @ 14.9876 pointsource pheromone 1663 -3.70319 -1.27289 1.8634
cmd @ 16.4193 pointsource pheromone 1663 -4.05066 1.57524 -1.31952
output_files ves_33.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_33.xyz
end_file
