random_seed 19
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.633969 pointsource pheromone 1663 -2.63831 2.48717 -0.26231
cmd @ 0.932124 pointsource pheromone 1663 -4.09489 -1.73115 1.04765
cmd @ 1.30975 pointsource pheromone 1663 -1.36879 -0.0582935 2.16184
cmd @ 1.81972 pointsource pheromone 1663 -1.74407 0.576524 2.26861
cmd @ 2.30508 pointsource pheromone 1663 -2.1838 0.722989 2.35322
cmd @ 2.38013 pointsource pheromone 1663 -4.37715 -1.22334 -1.29938
cmd @ 3.12303 pointsource pheromone 1663 -0.552684 0.979856 -1.00019
cmd @ 4.21622 pointsource pheromone 1663 -2.10751 -1.22648 -2.1173
cmd @ 4.69118 pointsource pheromone 1663 -3.65833 1.34131 -1.84068
cmd @ 5.66506 pointsource pheromone 1663 -1.96632 1.01214 -2.19014
cmd @ 8.06287 pointsource pheromone 1663 -3.04394 -1.34206 -2.06842
cmd @ 9.04034 pointsource pheromone 1663 -4.03254 -1.26929 -1.63179
cmd @ 9.75568 pointsource pheromone 1663 -4.07718 -2.03621 -0.00652058
cmd @ 10.8588 pointsource pheromone 1663 -3.0287 1.83251 1.65346
cmd @ 11.9525 pointsource pheromone 1663 -2.12332 -1.09529 2.19172
cmd @ 12.2921 pointsource pheromone 1663 -0.224614 0.00491822 0.702227
cmd @ 13.0636 pointsource pheromone 1663 -1.08415 0.0712644 -1.96868
cmd @ 13.91 pointsource pheromone 1663 -0.736681 1.49913 -0.664721
cmd @ 16.7882 pointsource pheromone 1663 -2.46973 2.37457 -0.769607
output_files ves_19.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_19.xyz
end_file
