random_seed 42
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.721623 pointsource pheromone 1663 -3.09266 -1.81671 -1.65404
cmd @ 1.48042 pointsource pheromone 1663 -4.65848 -1.35195 0.540541
cmd @ 3.48436 pointsource pheromone 1663 -2.46359 -1.14135 -2.21952
cmd @ 6.4601 pointsource pheromone 1663 -1.13706 -1.9251 -0.57881
cmd @ 7.37209 pointsource pheromone 1663 -4.5177 1.38206 -0.873262
cmd @ 11.5161 pointsource pheromone 1663 -4.77025 -0.778284 -1.02331
cmd @ 12.5051 pointsource pheromone 1663 -4.21431 1.77735 -0.75506
cmd @ 13.1984 pointsource pheromone 1663 -4.23939 -1.724 0.822539
cmd @ 13.7309 pointsource pheromone 1663 -1.47984 -0.0569156 2.2227
cmd @ 17.7404 pointsource pheromone 1663 -3.7888 1.5945 -1.53562
output_files ves_42.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_42.xyz
end_file
