random_seed 75
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.0659709 pointsource pheromone 1663 -0.220891 -0.354948 -0.590991
cmd @ 0.252766 pointsource pheromone 1663 -3.32055 -0.791834 -2.26809
cmd @ 2.33343 pointsource pheromone 1663 -2.43891 1.64467 1.87495
cmd @ 3.07455 pointsource pheromone 1663 -2.89281 0.0685065 -2.48568
cmd @ 4.52528 pointsource pheromone 1663 -4.48354 0.416152 1.62101
cmd @ 4.64666 pointsource pheromone 1663 -1.03457 -1.65392 -0.995025
cmd @ 7.6268 pointsource pheromone 1663 -2.46061 1.86472 1.65855
cmd @ 7.91064 pointsource pheromone 1663 -4.93691 0.953327 0.0354507
cmd @ 9.98531 pointsource pheromone 1663 -1.91767 1.64801 -1.7432
cmd @ 10.3756 pointsource pheromone 1663 -2.27134 -0.234529 2.46474
cmd @ 12.1113 pointsource pheromone 1663 -4.08405 1.20578 1.63471
cmd @ 13.9816 pointsource pheromone 1663 -1.14794 -0.438626 1.97
cmd @ 15.8015 pointsource pheromone 1663 -1.36578 -1.95675 0.916787
output_files ves_75.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_75.xyz
end_file
