random_seed 27
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.0560564 pointsource pheromone 1663 -4.7099 0.735389 -1.16936
cmd @ 0.120843 pointsource pheromone 1663 -5.02198 0.629967 -0.335608
cmd @ 0.161193 pointsource pheromone 1663 -2.72787 1.6993 -1.83216
cmd @ 3.36634 pointsource pheromone 1663 -4.81057 1.21536 0.0343163
cmd @ 4.34834 pointsource pheromone 1663 -3.67133 2.07527 0.923813
cmd @ 5.69888 pointsource pheromone 1663 -4.94835 0.868033 -0.321813
cmd @ 8.0862 pointsource pheromone 1663 -2.10693 -1.86955 1.57841
cmd @ 10.4688 pointsource pheromone 1663 -2.59792 -2.03982 1.44686
cmd @ 10.7251 pointsource pheromone 1663 -5.11064 -0.0197952 0.27602
cmd @ 11.4911 pointsource pheromone 1663 -3.63787 -1.08883 -2.01086
cmd @ 11.5593 pointsource pheromone 1663 -2.55891 2.43219 0.578857
cmd @ 11.5732 pointsource pheromone 1663 -3.34081 1.98982 1.33537
cmd @ 12.6327 pointsource pheromone 1663 -2.73027 0.968667 -2.30339
cmd @ 13.8101 pointsource pheromone 1663 -3.34169 2.37947 0.281938
cmd @ 15.5724 pointsource pheromone 1663 -0.353385 -0.44704 0.946002
output_files ves_27.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_27.xyz
end_file
