random_seed 9
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.276749 pointsource pheromone 1663 -0.691411 -1.58558 -0.0466638
cmd @ 1.58133 pointsource pheromone 1663 -1.81909 -2.20268 -0.868153
cmd @ 2.01759 pointsource pheromone 1663 -4.94458 -0.751729 -0.556301
cmd @ 3.90715 pointsource pheromone 1663 -0.759112 -1.41329 0.880953
cmd @ 3.95724 pointsource pheromone 1663 -1.88461 -1.3795 -1.95034
cmd @ 4.36106 pointsource pheromone 1663 -3.01077 2.07702 1.33872
cmd @ 6.48796 pointsource pheromone 1663 -2.43296 0.88675 -2.33062
cmd @ 7.45581 pointsource pheromone 1663 -3.74613 0.472231 2.18519
cmd @ 7.99907 pointsource pheromone 1663 -2.81293 2.46941 0.348867
cmd @ 8.08533 pointsource pheromone 1663 -3.13853 0.624313 -2.36675
cmd @ 8.84107 pointsource pheromone 1663 -4.51692 -0.00498307 1.63573
cmd @ 9.39663 pointsource pheromone 1663 -2.68404 1.04493 -2.27148
cmd @ 9.85337 pointsource pheromone 1663 -2.5725 2.36767 0.803982
cmd @ 9.9483 pointsource pheromone 1663 -3.75921 2.08137 0.7978
cmd @ 12.1798 pointsource pheromone 1663 -0.381906 0.183686 1.09078
cmd @ 13.2515 pointsource pheromone 1663 -3.32257 0.568868 -2.33341
cmd @ 14.6334 pointsource pheromone 1663 -4.49799 1.25549 1.08197
cmd @ 15.0676 pointsource pheromone 1663 -2.07275 -0.297588 2.42105
output_files ves_09.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_09.xyz
end_file
