random_seed 50
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 1.0711 pointsource pheromone 1663 -2.23191 1.47373 1.98207
cmd @ 1.6693 pointsource pheromone 1663 -2.69224 -2.49346 0.182002
cmd @ 4.46817 pointsource pheromone 1663 -0.189174 -0.465211 0.324546
cmd @ 5.76392 pointsource pheromone 1663 -2.27274 1.71128 1.78953
cmd @ 8.05927 pointsource pheromone 1663 -1.12377 -1.76896 -0.933862
cmd @ 9.73077 pointsource pheromone 1663 -3.47779 1.62333 1.70075
cmd @ 10.8835 pointsource pheromone 1663 -3.73337 0.0520407 -2.24138
cmd @ 12.4376 pointsource pheromone 1663 -2.19172 -2.43572 -0.366785
cmd @ 14.2603 pointsource pheromone 1663 -3.06634 2.31661 -0.832793
cmd @ 14.8022 pointsource pheromone 1663 -3.97927 1.49888 1.47455
cmd @ 15.0677 pointsource pheromone 1663 -0.461311 0.536609 1.1338
output_files ves_50.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_50.xyz
end_file
