random_seed 84
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 1.45523 pointsource pheromone 1663 -5.00021 -0.455594 0.637039
cmd @ 2.17622 pointsource pheromone 1663 -4.33762 1.7431 0.532481
cmd @ 2.46883 pointsource pheromone 1663 -1.32253 -1.88101 1.01013
cmd @ 3.79532 pointsource pheromone 1663 -4.56022 1.54295 0.359487
cmd @ 6.58845 pointsource pheromone 1663 -2.62183 2.22751 1.13719
cmd @ 7.55924 pointsource pheromone 1663 -3.37004 1.12145 -2.10767
cmd @ 11.7622 pointsource pheromone 1663 -3.3641 2.1707 -0.998387
cmd @ 12.2284 pointsource pheromone 1663 -0.739896 0.277011 -1.62008
cmd @ 14.8336 pointsource pheromone 1663 -1.09978 -1.82215 0.780053
cmd @ 16.7478 pointsource pheromone 1663 -1.24553 -1.74336 -1.14576
output_files ves_84.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_84.xyz
end_file
