random_seed 44
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 1.47248 pointsource pheromone 1663 -1.93346 2.38074 -0.329925
cmd @ 6.21239 pointsource pheromone 1663 -1.10703 1.88772 -0.62233
cmd @ 6.63359 pointsource pheromone 1663 -2.09763 -1.87845 1.5647
cmd @ 6.69191 pointsource pheromone 1663 -0.573931 -1.4168 0.201959
cmd @ 7.03525 pointsource pheromone 1663 -1.68475 -2.06981 1.0425
cmd @ 7.36641 pointsource pheromone 1663 -0.923716 0.473573 -1.77098
cmd @ 8.09385 pointsource pheromone 1663 -2.39963 2.14451 -1.267
cmd @ 9.59741 pointsource pheromone 1663 -1.60649 1.86048 -1.32525
cmd @ 11.2689 pointsource pheromone 1663 -2.79599 1.0597 2.25894
cmd @ 12.7547 pointsource pheromone 1663 -3.92988 1.87737 -1.0138
cmd @ 12.7993 pointsource pheromone 1663 -4.52018 1.29798 -0.989208
cmd @ 14.5417 pointsource pheromone 1663 -2.51476 -2.39805 -0.701561
cmd @ 15.2797 pointsource pheromone 1663 -0.904696 1.71813 0.586147
output_files ves_44.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_44.xyz
end_file
