random_seed 13
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 1.28837 pointsource pheromone 1663 -3.14479 -2.44615 0.0339505
cmd @ 1.76216 pointsource pheromone 1663 -3.64072 1.90136 1.26813
cmd @ 5.26616 pointsource pheromone 1663 -1.50523 -1.86641 -1.23191
cmd @ 5.63304 pointsource pheromone 1663 -5.0471 -0.532223 -0.324304
cmd @ 6.45773 pointsource pheromone 1663 -1.28253 2.04943 0.502607
cmd @ 6.52708 pointsource pheromone 1663 -1.19225 -0.593984 -1.96199
cmd @ 7.9986 pointsource pheromone 1663 -0.612151 -1.46278 0.252426
cmd @ 9.1589 pointsource pheromone 1663 -4.23864 0.792317 -1.73879
cmd @ 11.7413 pointsource pheromone 1663 -2.58665 2.48681 -0.263261
cmd @ 11.7838 pointsource pheromone 1663 -4.96741 -0.489441 -0.727035
cmd @ 12.7795 pointsource pheromone 1663 -2.39119 -1.59856 1.90917
cmd @ 15.7141 pointsource pheromone 1663 -2.87016 -2.44456 -0.468026
output_files ves_13.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_13.xyz
end_file
