random_seed 30
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 2.22206 pointsource pheromone 1663 -3.2671 2.40955 -0.191756
cmd @ 2.95409 pointsource pheromone 1663 -3.95835 1.91047 -0.909535
cmd @ 3.03128 pointsource pheromone 1663 -4.68163 0.52923 -1.32105
cmd @ 3.5232 pointsource pheromone 1663 -0.288881 0.411531 0.792584
cmd @ 4.62773 pointsource pheromone 1663 -1.5457 1.67277 1.51392
cmd @ 6.23267 pointsource pheromone 1663 -4.59554 1.27535 -0.863386
cmd @ 6.42867 pointsource pheromone 1663 -2.67949 -2.17568 1.23225
cmd @ 6.4958 pointsource pheromone 1663 -1.88422 1.43057 -1.91304
cmd @ 7.65471 pointsource pheromone 1663 -1.51404 2.14817 0.637301
cmd @ 10.861 pointsource pheromone 1663 -1.26019 -2.09517 0.0504344
cmd @ 12.8878 pointsource pheromone 1663 -1.4841 1.95045 1.07196
cmd @ 13.5437 pointsource pheromone 1663 -0.900612 -1.1399 -1.40787
cmd @ 15.5426 pointsource pheromone 1663 -1.2169 -1.48143 -1.4414
output_files ves_30.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_30.xyz
end_file
