random_seed 76
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 2.0926 pointsource pheromone 1663 -2.28255 1.16467 -2.18661
cmd @ 3.8002 pointsource pheromone 1663 -4.29037 -1.61154 0.940474
cmd @ 4.79105 pointsource pheromone 1663 -3.34219 2.36907 0.357952
cmd @ 9.17049 pointsource pheromone 1663 -3.41893 1.79667 1.54811
cmd @ 10.7319 pointsource pheromone 1663 -4.14798 1.71663 0.994347
cmd @ 10.7558 pointsource pheromone 1663 -3.24326 -0.687453 2.32382
cmd @ 12.1368 pointsource pheromone 1663 -1.87888 2.33605 0.491085
cmd @ 12.801 pointsource pheromone 1663 -0.470535 1.25057 0.222162
cmd @ 13.385 pointsource pheromone 1663 -2.06358 -0.81341 -2.29743
cmd @ 13.5081 pointsource pheromone 1663 -3.71116 1.99467 1.04717
cmd @ 14.6085 pointsource pheromone 1663 -1.02704 -1.92393 0.00449488
cmd @ 15.0446 pointsource pheromone 1663 -0.150944 -0.0814914 -0.356942
output_files ves_76.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_76.xyz
end_file
