random_seed 39
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 1.30622 pointsource pheromone 1663 -3.62387 -2.28917 -0.130309
cmd @ 2.35558 pointsource pheromone 1663 -1.94276 0.837942 2.25553
cmd @ 3.40227 pointsource pheromone 1663 -0.788397 -1.66852 -0.312932
cmd @ 3.42153 pointsource pheromone 1663 -1.43282 -2.01711 -0.874633
cmd @ 6.80948 pointsource pheromone 1663 -3.98573 1.49279 1.47479
cmd @ 7.90835 pointsource pheromone 1663 -1.75536 0.626079 2.25981
cmd @ 8.1864 pointsource pheromone 1663 -0.343083 0.0211333 -1.02343
cmd @ 8.80483 pointsource pheromone 1663 -0.254713 0.744786 -0.286413
cmd @ 10.1979 pointsource pheromone 1663 -2.27668 -1.36208 2.06843
cmd @ 10.3207 pointsource pheromone 1663 -4.56716 -0.411812 1.52099
cmd @ 13.1407 pointsource pheromone 1663 -4.62288 -0.829908 1.25488
cmd @ 14.498 pointsource pheromone 1663 -0.130898 0.14481 -0.116122
cmd @ 14.6405 pointsource pheromone 1663 -2.62978 2.30908 -0.960793
cmd @ 15.1388 pointsource pheromone 1663 -0.635596 -0.419172 -1.45656
output_files ves_39.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_39.xyz
end_file
