random_seed 90
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.698914 pointsource pheromone 1663 -0.196451 0.551441 -0.23036
cmd @ 2.32229 pointsource pheromone 1663 -4.56996 -0.812466 -1.34612
cmd @ 5.39635 pointsource pheromone 1663 -1.18873 1.84593 0.885833
cmd @ 6.02499 pointsource pheromone 1663 -4.14598 1.98466 0.0523825
cmd @ 6.49326 pointsource pheromone 1663 -3.46091 -2.30847 0.476655
cmd @ 7.12409 pointsource pheromone 1663 -4.70758 -0.0800002 1.38255
cmd @ 7.87006 pointsource pheromone 1663 -3.54855 -2.14169 -0.902893
cmd @ 8.76043 pointsource pheromone 1663 -1.45632 -2.05963 0.804429
cmd @ 10.1 pointsource pheromone 1663 -3.20941 -0.35595 -2.40557
cmd @ 11.0999 pointsource pheromone 1663 -1.79908 -1.35829 -1.93078
cmd @ 11.4183 pointsource pheromone 1663 -1.35238 -1.99367 -0.812841
cmd @ 11.4225 pointsource pheromone 1663 -4.45309 0.868165 1.46948
cmd @ 13.0002 pointsource pheromone 1663 -1.08711 1.89671 0.540725
cmd @ 13.2771 pointsource pheromone 1663 -0.443886 -1.01585 0.682492
cmd @ 15.6595 pointsource pheromone 1663 -0.431844 0.678788 0.992127
output_files ves_90.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_90.xyz
end_file
