random_seed 60
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 2.13175 pointsource pheromone 1663 -3.60563 -1.93835 -1.23942
cmd @ 3.32603 pointsource pheromone 1663 -0.321606 -0.748615 0.62366
cmd @ 3.71925 pointsource pheromone 1663 -2.20736 1.50609 -1.9525
cmd @ 5.90065 pointsource pheromone 1663 -4.66847 -0.897268 -1.12878
cmd @ 7.41815 pointsource pheromone 1663 -0.978036 0.789782 -1.70844
cmd @ 7.93921 pointsource pheromone 1663 -0.405352 0.713818 0.904781
cmd @ 9.42131 pointsource pheromone 1663 -2.23401 -1.9335 1.53744
cmd @ 10.7678 pointsource pheromone 1663 -2.76927 1.52074 1.98029
cmd @ 12.9794 pointsource pheromone 1663 -3.08893 -0.374013 -2.42897
cmd @ 14.1052 pointsource pheromone 1663 -4.01496 2.07236 0.168391
cmd @ 14.236 pointsource pheromone 1663 -4.35263 -1.78867 -0.26642
cmd @ 14.3775 pointsource pheromone 1663 -1.96562 -1.63218 -1.77657
cmd @ 15.4851 pointsource pheromone 1663 -0.786016 -0.293288 1.66947
output_files ves_60.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_60.xyz
end_file
