random_seed 57
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 1.49052 pointsource pheromone 1663 -1.32256 2.11664 -0.280165
cmd @ 6.48813 pointsource pheromone 1663 -2.37985 -2.31795 0.906642
cmd @ 9.29522 pointsource pheromone 1663 -3.17589 -2.43127 -0.201176
cmd @ 10.6169 pointsource pheromone 1663 -2.16781 -0.254084 2.44569
cmd @ 12.0254 pointsource pheromone 1663 -0.351688 -1.0247 -0.19246
cmd @ 16.7966 pointsource pheromone 1663 -0.611187 -1.37003 -0.567969
output_files ves_57.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_57.xyz
end_file
