random_seed 15
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.0291059 pointsource pheromone 1663 -2.42422 2.1415 -1.27619
cmd @ 0.800637 pointsource pheromone 1663 -4.08207 -1.78211 -0.977769
cmd @ 0.913161 pointsource pheromone 1663 -1.8914 -1.42599 1.91921
cmd @ 2.05254 pointsource pheromone 1663 -0.326738 -0.821347 -0.546242
cmd @ 2.19841 pointsource pheromone 1663 -2.04817 -1.72645 -1.71512
cmd @ 3.82172 pointsource pheromone 1663 -4.24571 -1.62408 0.995325
cmd @ 3.935 pointsource pheromone 1663 -0.483443 1.28235 0.15596
cmd @ 4.06737 pointsource pheromone 1663 -0.939524 -1.42011 -1.18214
cmd @ 5.16034 pointsource pheromone 1663 -2.44982 1.82697 1.69897
cmd @ 5.71867 pointsource pheromone 1663 -4.42189 0.0503671 -1.73886
cmd @ 6.39148 pointsource pheromone 1663 -2.33896 2.35562 0.790086
cmd @ 6.52392 pointsource pheromone 1663 -4.72338 -0.87611 -1.04127
cmd @ 8.35463 pointsource pheromone 1663 -4.24688 -1.56786 1.07996
cmd @ 14.9567 pointsource pheromone 1663 -3.09748 2.41645 -0.43881
cmd @ 15.1078 pointsource pheromone 1663 -3.96472 1.57449 1.40752
output_files ves_15.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_15.xyz
end_file
