random_seed 24
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 4.20248 pointsource pheromone 1663 -0.902102 0.873884 -1.58838
cmd @ 6.57097 pointsource pheromone 1663 -0.4355 0.441781 1.12513
cmd @ 7.00397 pointsource pheromone 1663 -1.13982 1.89393 0.679906
cmd @ 7.79075 pointsource pheromone 1663 -2.01081 -2.40166 0.331398
cmd @ 8.51711 pointsource pheromone 1663 -3.99954 1.33347 1.60857
cmd @ 8.76967 pointsource pheromone 1663 -3.41333 2.19482 -0.903496
cmd @ 9.04418 pointsource pheromone 1663 -2.07975 -2.44077 0.0186897
cmd @ 9.86321 pointsource pheromone 1663 -2.77787 2.20894 1.16284
cmd @ 11.3899 pointsource pheromone 1663 -1.92359 1.1519 2.10622
cmd @ 13.9121 pointsource pheromone 1663 -2.38459 1.36352 -2.08279
cmd @ 14.0551 pointsource pheromone 1663 -0.740408 0.940961 1.3483
cmd @ 14.0909 pointsource pheromone 1663 -1.72037 -1.9976 1.20261
cmd @ 14.1612 pointsource pheromone 1663 -2.57495 -0.964739 2.3069
cmd @ 14.6949 pointsource pheromone 1663 -4.62757 0.428839 1.43556
cmd @ 17.5478 pointsource pheromone 1663 -3.64392 0.538934 2.21954
output_files ves_24.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_24.xyz
end_file
