random_seed 89
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.49169 pointsource pheromone 1663 -3.39969 -2.36987 -0.196342
cmd @ 1.46816 pointsource pheromone 1663 -1.65769 1.77517 1.47245
cmd @ 2.15107 pointsource pheromone 1663 -1.28826 -1.12724 -1.78814
cmd @ 2.16263 pointsource pheromone 1663 -2.54996 -0.0298908 -2.4997
cmd @ 2.21446 pointsource pheromone 1663 -3.11226 0.197165 -2.44514
cmd @ 3.50725 pointsource pheromone 1663 -2.40385 2.26587 1.03533
cmd @ 5.71859 pointsource pheromone 1663 -3.38379 -2.07339 -1.17487
cmd @ 6.75747 pointsource pheromone 1663 -3.29806 1.28927 -2.03464
cmd @ 7.45807 pointsource pheromone 1663 -0.559175 0.5526 1.29692
cmd @ 11.6337 pointsource pheromone 1663 -3.75759 2.22718 0.109153
cmd @ 11.8037 pointsource pheromone 1663 -0.37789 -0.700773 0.84523
cmd @ 11.9362 pointsource pheromone 1663 -4.97783 0.401172 0.74716
cmd @ 12.7664 pointsource pheromone 1663 -3.68953 -1.81654 -1.3498
cmd @ 14.6245 pointsource pheromone 1663 -1.77946 -2.35369 0.0139308
cmd @ 15.0121 pointsource pheromone 1663 -4.70455 0.914995 1.04559
output_files ves_89.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_89.xyz
end_file
