random_seed 65
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.438925 pointsource pheromone 1663 -1.45036 -1.89616 1.13128
cmd @ 5.24858 pointsource pheromone 1663 -1.19878 1.16256 -1.69392
cmd @ 6.04306 pointsource pheromone 1663 -3.34448 2.36458 -0.382241
cmd @ 7.35364 pointsource pheromone 1663 -4.82321 -0.396676 -1.12496
cmd @ 8.64893 pointsource pheromone 1663 -1.6712 -1.78899 1.46451
cmd @ 8.70569 pointsource pheromone 1663 -2.98671 2.40609 0.578703
cmd @ 9.04665 pointsource pheromone 1663 -0.735696 1.40099 0.850156
cmd @ 10.3497 pointsource pheromone 1663 -3.97669 1.92592 0.847817
cmd @ 10.8933 pointsource pheromone 1663 -3.28 2.23863 0.902501
cmd @ 11.9365 pointsource pheromone 1663 -4.54277 1.5114 -0.541125
cmd @ 12.5909 pointsource pheromone 1663 -2.02807 2.15347 1.12305
cmd @ 12.64 pointsource pheromone 1663 -2.07429 -1.18369 2.13321
cmd @ 13.2159 pointsource pheromone 1663 -4.59185 -0.174955 -1.5349
cmd @ 15.4651 pointsource pheromone 1663 -4.2165 -1.20121 -1.5097
output_files ves_65.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_65.xyz
end_file
