random_seed 98
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 2.83869 pointsource pheromone 1663 -5.10581 0.108937 0.297818
cmd @ 3.53911 pointsource pheromone 1663 -1.67506 -1.77304 -1.48625
cmd @ 3.6243 pointsource pheromone 1663 -4.56602 -0.341857 1.53967
cmd @ 5.53957 pointsource pheromone 1663 -4.15216 1.96614 0.238871
cmd @ 6.30434 pointsource pheromone 1663 -3.0334 -1.96824 -1.48803
cmd @ 8.7583 pointsource pheromone 1663 -2.65421 -0.0370611 -2.50055
cmd @ 9.10209 pointsource pheromone 1663 -5.09301 -0.204803 0.349285
cmd @ 10.4757 pointsource pheromone 1663 -1.07698 0.068487 1.96315
cmd @ 12.4664 pointsource pheromone 1663 -1.58249 -1.80935 1.37638
cmd @ 12.49 pointsource pheromone 1663 -2.05072 -2.35067 -0.632105
cmd @ 12.8921 pointsource pheromone 1663 -1.24882 1.9532 -0.738994
cmd @ 13.1197 pointsource pheromone 1663 -3.39651 -0.995893 2.16055
cmd @ 13.5723 pointsource pheromone 1663 -0.794659 1.21587 1.19437
cmd @ 14.0141 pointsource pheromone 1663 -0.608168 0.729934 1.28631
cmd @ 14.7664 pointsource pheromone 1663 -3.63482 0.235806 -2.27589
cmd @ 16.7465 pointsource pheromone 1663 -1.61096 -1.55371 -1.67711
output_files ves_98.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_98.xyz
end_file
