random_seed 49
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 2.31346 pointsource pheromone 1663 -4.64735 1.46875 0.088653
cmd @ 3.10744 pointsource pheromone 1663 -0.672783 0.798947 -1.3437
cmd @ 3.14127 pointsource pheromone 1663 -1.5274 1.01124 -2.0069
cmd @ 3.65611 pointsource pheromone 1663 -1.93162 -0.571597 -2.33399
cmd @ 4.23427 pointsource pheromone 1663 -1.29787 -2.11953 0.0363482
cmd @ 5.13213 pointsource pheromone 1663 -0.73604 1.63846 -0.0477908
cmd @ 5.78382 pointsource pheromone 1663 -3.78729 -0.838241 -2.04974
cmd @ 5.89414 pointsource pheromone 1663 -0.266251 -0.324759 0.7654
cmd @ 7.05551 pointsource pheromone 1663 -4.29 0.414897 1.81952
cmd @ 8.80788 pointsource pheromone 1663 -2.77839 1.89883 1.62046
cmd @ 9.82854 pointsource pheromone 1663 -3.18479 1.03397 2.20739
cmd @ 11.3683 pointsource pheromone 1663 -2.58749 1.01275 2.28647
cmd @ 12.3314 pointsource pheromone 1663 -5.09932 -0.168551 0.323028
cmd @ 12.885 pointsource pheromone 1663 -0.5248 -0.0829647 1.35546
cmd @ 13.6288 pointsource pheromone 1663 -3.08078 1.07538 -2.21152
cmd @ 14.7614 pointsource pheromone 1663 -0.748752 0.53328 1.56535
cmd @ 14.9222 pointsource pheromone 1663 -4.69602 1.27677 -0.579416
cmd @ 16.3511 pointsource pheromone 1663 -4.16023 -0.224665 1.96153
output_files ves_49.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_49.xyz
end_file
