random_seed 93
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.765166 pointsource pheromone 1663 -4.26435 1.84748 -0.392864
cmd @ 2.73013 pointsource pheromone 1663 -4.8822 0.546403 -0.928177
cmd @ 3.52563 pointsource pheromone 1663 -2.38107 1.5827 -1.92108
cmd @ 3.87004 pointsource pheromone 1663 -1.87532 0.839292 2.23351
cmd @ 4.90113 pointsource pheromone 1663 -4.79361 0.103184 1.24156
cmd @ 5.26289 pointsource pheromone 1663 -2.7884 0.405712 -2.46246
cmd @ 5.70981 pointsource pheromone 1663 -4.4171 -1.59243 -0.712418
cmd @ 5.76361 pointsource pheromone 1663 -3.69701 -1.45289 1.73058
cmd @ 7.16303 pointsource pheromone 1663 -0.645826 1.46383 0.441686
cmd @ 8.43664 pointsource pheromone 1663 -4.7963 -1.23636 0.109062
cmd @ 9.56434 pointsource pheromone 1663 -3.48616 0.25254 2.33444
cmd @ 13.8921 pointsource pheromone 1663 -1.60034 2.26204 0.297079
cmd @ 14.4344 pointsource pheromone 1663 -3.224 -0.610199 -2.35029
cmd @ 15.1121 pointsource pheromone 1663 -3.7789 -1.4361 1.69148
output_files ves_93.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_93.xyz
end_file
