random_seed 64
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 1.19376 pointsource pheromone 1663 -3.74247 -0.106788 -2.23492
cmd @ 3.44741 pointsource pheromone 1663 -1.26217 -2.0429 0.473553
cmd @ 3.51295 pointsource pheromone 1663 -3.49062 -2.22786 0.736428
cmd @ 4.0232 pointsource pheromone 1663 -3.37426 -0.734713 2.2702
cmd @ 4.04451 pointsource pheromone 1663 -1.51827 2.23928 -0.125524
cmd @ 5.99373 pointsource pheromone 1663 -1.25319 -2.09115 -0.0151888
cmd @ 6.21689 pointsource pheromone 1663 -2.47541 -1.91536 -1.60125
cmd @ 7.05517 pointsource pheromone 1663 -3.12681 -1.30616 2.07295
cmd @ 7.68043 pointsource pheromone 1663 -1.3339 2.11157 -0.359663
cmd @ 11.3674 pointsource pheromone 1663 -0.605687 0.543593 -1.37182
cmd @ 12.0468 pointsource pheromone 1663 -3.46708 -1.44766 1.85747
cmd @ 12.5891 pointsource pheromone 1663 -3.08161 0.674358 -2.36469
cmd @ 13.417 pointsource pheromone 1663 -0.557449 -1.39974 -0.144747
cmd @ 16.7668 pointsource pheromone 1663 -0.638583 -1.25251 -0.860445
output_files ves_64.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_64.xyz
end_file
