random_seed 6
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.206232 pointsource pheromone 1663 -4.95514 -0.16909 0.892675
cmd @ 1.1062 pointsource pheromone 1663 -4.91349 -1.00311 -0.10775
cmd @ 1.8268 pointsource pheromone 1663 -3.6748 2.21241 0.508102
cmd @ 3.8699 pointsource pheromone 1663 -0.634727 -1.20844 0.912954
cmd @ 4.41042 pointsource pheromone 1663 -1.21342 -0.4909 -2.00536
cmd @ 4.45526 pointsource pheromone 1663 -4.18712 -0.108423 -1.95014
cmd @ 5.20053 pointsource pheromone 1663 -4.84786 -0.649767 0.944307
cmd @ 6.07344 pointsource pheromone 1663 -1.37511 1.6629 1.38836
cmd @ 6.34798 pointsource pheromone 1663 -3.84281 0.895932 1.9923
cmd @ 9.17333 pointsource pheromone 1663 -3.04511 1.1215 -2.19562
cmd @ 9.32411 pointsource pheromone 1663 -2.36216 1.35341 -2.08667
cmd @ 15.9218 pointsource pheromone 1663 -2.02085 -0.194644 -2.41911
output_files ves_06.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_06.xyz
end_file
