random_seed 59
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 1.56679 pointsource pheromone 1663 -1.49506 2.03098 0.923768
cmd @ 2.85788 pointsource pheromone 1663 -2.98988 -0.130247 -2.47081
cmd @ 5.75933 pointsource pheromone 1663 -3.19945 2.35459 -0.617189
cmd @ 6.70385 pointsource pheromone 1663 -1.82959 1.04554 -2.12818
cmd @ 7.64023 pointsource pheromone 1663 -4.96741 0.589788 -0.648287
cmd @ 11.8448 pointsource pheromone 1663 -1.49896 -2.22526 0.187753
cmd @ 12.3804 pointsource pheromone 1663 -1.59881 -2.27215 -0.198175
cmd @ 15.7335 pointsource pheromone 1663 -2.27415 0.0310174 -2.47607
output_files ves_59.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_59.xyz
end_file
