random_seed 2
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 4.50082 pointsource pheromone 1663 -4.0233 1.90434 -0.820498
cmd @ 7.74671 pointsource pheromone 1663 -2.09453 -2.4432 -0.0663305
cmd @ 7.84067 pointsource pheromone 1663 -4.27291 0.370548 -1.84447
cmd @ 8.58565 pointsource pheromone 1663 -0.853529 -1.53445 0.873136
cmd @ 9.77715 pointsource pheromone 1663 -1.4138 -2.04335 0.782753
cmd @ 10.9779 pointsource pheromone 1663 -1.92472 -0.0710073 2.39991
cmd @ 13.2209 pointsource pheromone 1663 -2.62733 2.42214 0.623103
cmd @ 15.4778 pointsource pheromone 1663 -2.96584 -2.47765 -0.00915208
output_files ves_02.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_02.xyz
end_file
