random_seed 53
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.675634 pointsource pheromone 1663 -3.29414 -1.88626 1.49976
cmd @ 1.0109 pointsource pheromone 1663 -3.956 -2.11506 0.0997228
cmd @ 1.78888 pointsource pheromone 1663 -3.23439 1.08038 2.17173
cmd @ 2.42398 pointsource pheromone 1663 -2.56966 2.49976 0.0560543
cmd @ 4.39235 pointsource pheromone 1663 -2.75741 -2.17381 -1.22965
cmd @ 5.20766 pointsource pheromone 1663 -1.21576 -2.05733 0.190848
cmd @ 8.74506 pointsource pheromone 1663 -0.608572 -1.27725 -0.746767
cmd @ 12.1673 pointsource pheromone 1663 -1.43521 -0.511989 2.13945
cmd @ 13.4659 pointsource pheromone 1663 -3.91344 -0.791787 -1.99199
cmd @ 14.013 pointsource pheromone 1663 -4.12309 1.6594 -1.12122
cmd @ 14.1488 pointsource pheromone 1663 -2.83641 2.08309 -1.36785
cmd @ 14.6186 pointsource pheromone 1663 -1.07892 0.0128308 1.96582
cmd @ 15.0676 pointsource pheromone 1663 -4.99036 0.711483 0.392262
output_files ves_53.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_53.xyz
end_file
