random_seed 1
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.608682 pointsource pheromone 1663 -3.7081 -2.16695 -0.621458
cmd @ 1.21244 pointsource pheromone 1663 -1.13759 -1.72044 -1.04053
cmd @ 1.72528 pointsource pheromone 1663 -1.05599 1.74568 0.863598
cmd @ 2.99743 pointsource pheromone 1663 -2.12884 1.61587 1.84331
cmd @ 3.83692 pointsource pheromone 1663 -2.60705 -2.46821 -0.403263
cmd @ 4.25764 pointsource pheromone 1663 -0.841564 0.00258924 -1.75338
cmd @ 4.39902 pointsource pheromone 1663 -2.87397 1.65007 1.86287
cmd @ 7.84348 pointsource pheromone 1663 -4.50369 -1.38764 -0.894415
cmd @ 10.5986 pointsource pheromone 1663 -3.15524 2.42264 -0.32355
cmd @ 11.1107 pointsource pheromone 1663 -1.54184 -0.748524 2.12638
cmd @ 11.4304 pointsource pheromone 1663 -5.04187 -0.0803991 0.638164
cmd @ 11.4448 pointsource pheromone 1663 -2.77167 -0.749988 -2.38139
cmd @ 13.9121 pointsource pheromone 1663 -3.56398 -0.477935 -2.26823
cmd @ 15.1111 pointsource pheromone 1663 -4.83092 1.16742 -0.161393
output_files ves_01.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_01.xyz
end_file
