random_seed 23
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.477386 pointsource pheromone 1663 -3.08334 2.02092 1.40029
cmd @ 1.1926 pointsource pheromone 1663 -3.37689 -2.38501 -0.0374561
cmd @ 1.78167 pointsource pheromone 1663 -0.178216 -0.504016 -0.11924
cmd @ 1.95653 pointsource pheromone 1663 -0.125725 -0.0800281 -0.0471257
cmd @ 3.10384 pointsource pheromone 1663 -4.73343 -0.0457567 1.3444
cmd @ 3.44726 pointsource pheromone 1663 -4.52437 1.61019 -0.233797
cmd @ 5.64915 pointsource pheromone 1663 -1.18774 1.5866 1.29305
cmd @ 9.02923 pointsource pheromone 1663 -4.81513 -0.951625 0.74348
cmd @ 10.3119 pointsource pheromone 1663 -2.00834 -1.97976 -1.39832
cmd @ 10.5517 pointsource pheromone 1663 -1.704 -1.14383 2.02445
cmd @ 11.7089 pointsource pheromone 1663 -3.20728 2.15395 1.1298
cmd @ 11.7419 pointsource pheromone 1663 -3.81204 1.88495 -1.13705
cmd @ 12.3383 pointsource pheromone 1663 -1.49038 2.07233 0.820419
cmd @ 13.6261 pointsource pheromone 1663 -4.46025 -0.420551 1.64621
cmd @ 13.7149 pointsource pheromone 1663 -2.83246 1.8942 -1.61987
cmd @ 13.8421 pointsource pheromone 1663 -4.89315 1.04673 -0.121774
cmd @ 14.0342 pointsource pheromone 1663 -2.25498 -1.64466 -1.84748
cmd @ 15.6493 pointsource pheromone 1663 -0.331499 0.766864 0.637787
output_files ves_23.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_23.xyz
end_file
