random_seed 78
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.220317 pointsource pheromone 1663 -1.63449 -1.56139 1.68403
cmd @ 2.7129 pointsource pheromone 1663 -4.96446 0.710511 -0.526417
cmd @ 4.35422 pointsource pheromone 1663 -2.18755 -0.107655 -2.46009
cmd @ 4.43076 pointsource pheromone 1663 -4.63323 1.48938 -0.0611631
cmd @ 4.93305 pointsource pheromone 1663 -3.56557 -0.862756 -2.15081
cmd @ 5.27021 pointsource pheromone 1663 -1.13971 1.85844 0.771442
cmd @ 5.51929 pointsource pheromone 1663 -2.30459 1.58837 -1.9051
cmd @ 9.1162 pointsource pheromone 1663 -0.83371 0.497757 -1.67288
cmd @ 10.1619 pointsource pheromone 1663 -4.31797 -0.118329 1.83707
cmd @ 10.5431 pointsource pheromone 1663 -2.45069 -1.70013 -1.82598
cmd @ 12.887 pointsource pheromone 1663 -0.470064 0.931249 0.86257
cmd @ 13.4311 pointsource pheromone 1663 -5.11028 0.279011 -0.0229196
cmd @ 15.0931 pointsource pheromone 1663 -3.53382 2.1563 -0.882848
output_files ves_78.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_78.xyz
end_file
