random_seed 94
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 1.10309 pointsource pheromone 1663 -4.18919 -1.92666 0.310259
cmd @ 2.08561 pointsource pheromone 1663 -3.47809 -1.41651 -1.87637
cmd @ 5.01579 pointsource pheromone 1663 -3.69671 -2.07195 0.901917
cmd @ 5.66011 pointsource pheromone 1663 -0.919623 -0.800917 1.64476
cmd @ 5.82326 pointsource pheromone 1663 -2.14568 0.987821 2.2471
cmd @ 7.69494 pointsource pheromone 1663 -1.98249 1.96163 -1.41216
cmd @ 10.4962 pointsource pheromone 1663 -0.334717 0.12275 -0.997266
cmd @ 12.4821 pointsource pheromone 1663 -3.00226 2.43427 0.432415
cmd @ 12.9617 pointsource pheromone 1663 -4.17575 1.17883 -1.56861
cmd @ 13.3316 pointsource pheromone 1663 -4.0385 1.12782 -1.72772
cmd @ 13.8786 pointsource pheromone 1663 -1.74258 -1.55147 -1.75194
cmd @ 14.7801 pointsource pheromone 1663 -3.55268 -1.95692 1.25095
cmd @ 16.1549 pointsource pheromone 1663 -0.885428 0.163225 -1.78948
output_files ves_94.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_94.xyz
end_file
