random_seed 35
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 5.18865 pointsource pheromone 1663 -4.54982 1.59178 -0.127631
cmd @ 6.93968 pointsource pheromone 1663 -1.57666 -2.04727 -0.982175
cmd @ 8.52331 pointsource pheromone 1663 -1.54419 -2.23135 0.32853
cmd @ 9.32002 pointsource pheromone 1663 -0.557753 0.735194 -1.20041
cmd @ 11.1456 pointsource pheromone 1663 -4.74244 -1.3271 -0.101372
cmd @ 12.4061 pointsource pheromone 1663 -1.94861 2.02318 -1.30546
cmd @ 12.7513 pointsource pheromone 1663 -2.16654 -2.38757 0.586784
cmd @ 13.8001 pointsource pheromone 1663 -1.233 1.77442 1.08109
cmd @ 17.2297 pointsource pheromone 1663 -4.6564 1.44672 -0.188148
output_files ves_35.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_35.xyz
end_file
