random_seed 91
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 1.6136 pointsource pheromone 1663 -2.69373 -2.26619 -1.05578
cmd @ 2.05288 pointsource pheromone 1663 -0.850067 1.76058 0.0704331
cmd @ 3.25615 pointsource pheromone 1663 -3.17534 0.469962 2.39401
cmd @ 3.98404 pointsource pheromone 1663 -3.26342 2.37362 0.461898
cmd @ 5.77132 pointsource pheromone 1663 -4.81748 -1.05462 0.579512
cmd @ 5.88926 pointsource pheromone 1663 -4.70807 -0.838621 -1.10114
cmd @ 7.05912 pointsource pheromone 1663 -1.34523 1.8052 1.16553
cmd @ 10.0774 pointsource pheromone 1663 -0.692042 0.492398 1.50871
cmd @ 14.2069 pointsource pheromone 1663 -4.18831 1.0422 1.65072
cmd @ 14.7617 pointsource pheromone 1663 -0.195042 -0.447174 -0.38774
cmd @ 14.839 pointsource pheromone 1663 -0.69351 0.680403 1.43576
cmd @ 16.1929 pointsource pheromone 1663 -4.3359 -1.8237 0.0441146
output_files ves_91.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_91.xyz
end_file
