random_seed 45
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 1.2286 pointsource pheromone 1663 -0.935898 -1.82223 0.285351
cmd @ 2.43267 pointsource pheromone 1663 -0.148058 0.335042 -0.0866319
cmd @ 5.6178 pointsource pheromone 1663 -1.83935 -2.06013 1.18052
cmd @ 5.78713 pointsource pheromone 1663 -3.04912 -0.207129 -2.45606
cmd @ 6.71509 pointsource pheromone 1663 -3.11762 -2.43892 -0.252968
cmd @ 9.75161 pointsource pheromone 1663 -3.78494 -1.81808 1.26655
cmd @ 9.8703 pointsource pheromone 1663 -2.34123 -0.792264 -2.35516
cmd @ 11.3754 pointsource pheromone 1663 -2.16343 -2.43484 0.336887
cmd @ 11.9551 pointsource pheromone 1663 -0.697949 0.998973 -1.24239
cmd @ 12.4454 pointsource pheromone 1663 -0.96688 1.84435 0.322499
cmd @ 14.3573 pointsource pheromone 1663 -3.85033 -0.322678 -2.15625
cmd @ 14.4058 pointsource pheromone 1663 -0.461644 -0.157534 -1.24502
cmd @ 14.8903 pointsource pheromone 1663 -3.54216 2.10228 -0.997114
cmd @ 15.6194 pointsource pheromone 1663 -0.214502 0.651939 0.139562
output_files ves_45.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_45.xyz
end_file
