random_seed 74
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 1.4612 pointsource pheromone 1663 -1.97417 -1.39578 -1.97059
cmd @ 3.45149 pointsource pheromone 1663 -0.393055 0.0852221 -1.12524
cmd @ 3.80416 pointsource pheromone 1663 -0.43073 -0.824874 0.871645
cmd @ 4.19769 pointsource pheromone 1663 -3.94348 1.15274 1.78545
cmd @ 6.17757 pointsource pheromone 1663 -3.73597 -2.17449 0.540701
cmd @ 7.16938 pointsource pheromone 1663 -3.52091 0.358459 2.30735
cmd @ 10.8379 pointsource pheromone 1663 -2.39953 -0.457277 -2.44848
cmd @ 11.3397 pointsource pheromone 1663 -1.05139 1.942 -0.0859852
cmd @ 11.6333 pointsource pheromone 1663 -4.6157 -1.10449 -1.03547
cmd @ 11.8085 pointsource pheromone 1663 -4.89525 0.917605 -0.508878
cmd @ 12.0955 pointsource pheromone 1663 -1.93484 0.806073 2.26471
cmd @ 13.0886 pointsource pheromone 1663 -3.80315 1.42332 1.68556
cmd @ 14.3432 pointsource pheromone 1663 -0.236091 0.634785 -0.380999
cmd @ 17.7805 pointsource pheromone 1663 -0.561091 1.06206 -0.931298
output_files ves_74.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_74.xyz
end_file
