random_seed 95
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 4.14011 pointsource pheromone 1663 -2.18035 2.22357 1.055
cmd @ 4.39236 pointsource pheromone 1663 -4.22995 -0.509476 1.8492
cmd @ 8.02111 pointsource pheromone 1663 -2.73167 -1.51816 -1.98464
cmd @ 8.50367 pointsource pheromone 1663 -0.462745 -0.392326 1.19404
cmd @ 9.43648 pointsource pheromone 1663 -0.298841 0.203051 0.895967
cmd @ 9.69713 pointsource pheromone 1663 -3.5369 0.0832944 -2.32734
cmd @ 10.916 pointsource pheromone 1663 -1.62388 0.876363 -2.11772
cmd @ 15.2826 pointsource pheromone 1663 -4.27371 -1.3264 -1.3332
output_files ves_95.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_95.xyz
end_file
