random_seed 54
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 1.37008 pointsource pheromone 1663 -1.88528 2.3841 -0.154597
cmd @ 1.3772 pointsource pheromone 1663 -4.33632 1.63982 -0.798351
cmd @ 1.3965 pointsource pheromone 1663 -0.662114 0.832647 1.3072
cmd @ 1.43938 pointsource pheromone 1663 -4.54423 1.34594 0.871797
cmd @ 1.92179 pointsource pheromone 1663 -3.67366 -0.348585 -2.24361
cmd @ 2.30193 pointsource pheromone 1663 -2.94792 0.854646 2.32815
cmd @ 3.60456 pointsource pheromone 1663 -0.420918 -1.01232 -0.61011
cmd @ 4.3751 pointsource pheromone 1663 -4.45851 -1.67195 0.312792
cmd @ 5.91592 pointsource pheromone 1663 -2.13687 -0.880534 2.28941
cmd @ 6.30886 pointsource pheromone 1663 -1.22189 0.720547 1.9409
cmd @ 6.60706 pointsource pheromone 1663 -4.45389 -0.756843 -1.52884
cmd @ 9.59193 pointsource pheromone 1663 -2.21834 2.24284 1.02923
cmd @ 11.3822 pointsource pheromone 1663 -4.64704 -1.40714 0.431653
cmd @ 13.2709 pointsource pheromone 1663 -0.205836 -0.485246 0.408881
cmd @ 13.831 pointsource pheromone 1663 -1.11574 1.09365 -1.66765
cmd @ 14.2127 pointsource pheromone 1663 -1.20887 1.05762 -1.76947
cmd @ 14.4278 pointsource pheromone 1663 -3.76103 -2.11544 0.699546
cmd @ 19.1428 pointsource pheromone 1663 -3.9098 1.32689 -1.68631
output_files ves_54.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_54.xyz
end_file
