random_seed 66
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 1.05808 pointsource pheromone 1663 -3.45079 1.03581 2.12136
cmd @ 1.24686 pointsource pheromone 1663 -4.61331 -0.0312141 1.51679
cmd @ 2.25204 pointsource pheromone 1663 -4.09347 2.01392 -0.20667
cmd @ 2.34381 pointsource pheromone 1663 -1.00609 -0.513711 -1.83582
cmd @ 3.51514 pointsource pheromone 1663 -0.56506 0.974196 1.03082
cmd @ 3.94185 pointsource pheromone 1663 -1.20808 -0.648326 -1.95628
cmd @ 4.57145 pointsource pheromone 1663 -3.64806 -1.44016 -1.7704
cmd @ 7.29668 pointsource pheromone 1663 -3.45984 -2.27228 0.628319
cmd @ 8.34898 pointsource pheromone 1663 -0.691773 0.544878 1.49021
cmd @ 8.44197 pointsource pheromone 1663 -0.153401 -0.214679 -0.316402
cmd @ 11.8758 pointsource pheromone 1663 -3.22937 0.892335 -2.25687
cmd @ 13.0127 pointsource pheromone 1663 -2.24204 2.43806 0.405227
cmd @ 14.705 pointsource pheromone 1663 -4.37201 -1.29249 -1.2379
cmd @ 16.4623 pointsource pheromone 1663 -3.29726 -0.980457 -2.2004
output_files ves_66.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_66.xyz
end_file
