random_seed 28
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.393764 pointsource pheromone 1663 -4.56643 -1.36085 0.796199
cmd @ 1.08465 pointsource pheromone 1663 -3.87969 -0.689839 2.05058
cmd @ 1.83139 pointsource pheromone 1663 -4.2649 -1.88398 0.127857
cmd @ 1.98904 pointsource pheromone 1663 -2.6916 1.10016 -2.24504
cmd @ 3.09827 pointsource pheromone 1663 -2.83475 -1.84153 -1.67921
cmd @ 4.02579 pointsource pheromone 1663 -3.0412 2.15261 -1.20334
cmd @ 5.88981 pointsource pheromone 1663 -5.00914 -0.726836 0.206425
cmd @ 6.22011 pointsource pheromone 1663 -2.22549 -1.63629 1.84877
cmd @ 6.93751 pointsource pheromone 1663 -2.42376 -0.837277 2.34808
cmd @ 8.15988 pointsource pheromone 1663 -2.08714 1.15179 2.15386
cmd @ 8.58192 pointsource pheromone 1663 -0.572238 0.598507 -1.29729
cmd @ 11.2126 pointsource pheromone 1663 -0.279528 0.130632 0.858311
cmd @ 17.1752 pointsource pheromone 1663 -0.579915 -1.39335 0.362226
output_files ves_28.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_28.xyz
end_file
