random_seed 68
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.136332 pointsource pheromone 1663 -0.410917 -0.674622 0.947483
cmd @ 0.770958 pointsource pheromone 1663 -3.24624 -2.29193 0.784923
cmd @ 0.846142 pointsource pheromone 1663 -2.17821 -2.42763 0.402509
cmd @ 1.41773 pointsource pheromone 1663 -4.25751 -0.0331373 1.89441
cmd @ 3.06124 pointsource pheromone 1663 -4.30221 1.33594 -1.28734
cmd @ 5.76694 pointsource pheromone 1663 -2.91485 1.43935 2.02466
cmd @ 6.48505 pointsource pheromone 1663 -3.14387 -1.69324 1.76598
cmd @ 7.45325 pointsource pheromone 1663 -4.36874 1.66483 0.665374
cmd @ 7.89149 pointsource pheromone 1663 -1.29483 0.267254 2.10101
cmd @ 8.2184 pointsource pheromone 1663 -5.07901 0.472173 0.0995557
cmd @ 9.30867 pointsource pheromone 1663 -2.38323 -2.35061 -0.819245
cmd @ 9.98187 pointsource pheromone 1663 -4.27381 -1.66935 -0.865836
cmd @ 11.8612 pointsource pheromone 1663 -3.52096 2.21774 0.730684
cmd @ 11.9302 pointsource pheromone 1663 -4.01467 0.614975 -1.98636
cmd @ 12.7236 pointsource pheromone 1663 -2.55302 0.825162 2.35986
cmd @ 14.252 pointsource pheromone 1663 -3.3731 -2.24927 0.79757
cmd @ 16.0024 pointsource pheromone 1663 -2.94581 0.619029 -2.40185
output_files ves_68.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_68.xyz
end_file
