random_seed 99
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 2.56867 pointsource pheromone 1663 -0.772925 0.516688 -1.59933
cmd @ 4.11731 pointsource pheromone 1663 -1.93674 2.13949 1.09723
cmd @ 5.49198 pointsource pheromone 1663 -4.31766 0.635138 1.72815
cmd @ 6.08685 pointsource pheromone 1663 -4.04508 1.17795 1.68844
cmd @ 6.54945 pointsource pheromone 1663 -2.6495 -2.46545 0.419473
cmd @ 6.56422 pointsource pheromone 1663 -1.29473 2.11296 0.144259
cmd @ 6.57226 pointsource pheromone 1663 -4.98588 0.564116 -0.602522
cmd @ 6.90214 pointsource pheromone 1663 -0.798696 1.21168 -1.20475
cmd @ 8.43558 pointsource pheromone 1663 -3.8687 2.07797 -0.624689
cmd @ 8.4915 pointsource pheromone 1663 -1.21335 1.84993 -0.916517
cmd @ 9.54759 pointsource pheromone 1663 -2.99951 1.88433 1.60126
cmd @ 11.3647 pointsource pheromone 1663 -3.53887 1.39908 1.86075
cmd @ 11.9153 pointsource pheromone 1663 -2.86095 2.07394 1.37771
cmd @ 16.915 pointsource pheromone 1663 -3.13907 -0.420991 -2.41112
output_files ves_99.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_99.xyz
end_file
