random_seed 83
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.710944 pointsource pheromone 1663 -0.138136 -0.0925055 -0.248903
cmd @ 2.51567 pointsource pheromone 1663 -4.73718 -0.616787 -1.18882
cmd @ 3.89873 pointsource pheromone 1663 -1.4999 -1.02323 -1.98549
cmd @ 3.93109 pointsource pheromone 1663 -1.52163 -2.2147 -0.364267
cmd @ 5.32556 pointsource pheromone 1663 -0.434199 -1.19823 0.140117
cmd @ 5.3912 pointsource pheromone 1663 -0.979696 -1.73376 -0.73624
cmd @ 6.44879 pointsource pheromone 1663 -4.61055 1.43968 0.48981
cmd @ 11.8807 pointsource pheromone 1663 -1.18231 -0.896374 -1.8358
cmd @ 13.2718 pointsource pheromone 1663 -0.259017 0.641949 -0.495003
cmd @ 15.4851 pointsource pheromone 1663 -3.746 -0.769138 2.09924
output_files ves_83.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_83.xyz
end_file
