random_seed 20
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 1.64873 pointsource pheromone 1663 -0.603618 1.38908 0.489365
cmd @ 2.77633 pointsource pheromone 1663 -1.88409 -1.79725 1.57352
cmd @ 3.80399 pointsource pheromone 1663 -0.74863 1.18149 1.15686
cmd @ 4.33404 pointsource pheromone 1663 -0.576039 -1.4141 -0.238937
cmd @ 4.61776 pointsource pheromone 1663 -0.692491 0.91959 -1.29413
cmd @ 6.17327 pointsource pheromone 1663 -2.7371 -0.979547 -2.29846
cmd @ 6.37478 pointsource pheromone 1663 -4.84278 1.13841 0.201156
cmd @ 6.73175 pointsource pheromone 1663 -0.676524 -0.58168 -1.45605
cmd @ 6.9587 pointsource pheromone 1663 -0.844286 1.5966 0.731393
cmd @ 8.9815 pointsource pheromone 1663 -2.12996 0.401279 2.41845
cmd @ 12.2208 pointsource pheromone 1663 -2.59957 2.44363 0.531991
cmd @ 12.8073 pointsource pheromone 1663 -1.86056 -1.71612 1.65093
cmd @ 13.2284 pointsource pheromone 1663 -4.75399 0.146851 1.30416
cmd @ 15.8333 pointsource pheromone 1663 -1.33847 -0.759674 2.00568
output_files ves_20.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_20.xyz
end_file
