random_seed 70
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 3.57947 pointsource pheromone 1663 -3.8283 1.7401 -1.33384
cmd @ 3.7418 pointsource pheromone 1663 -2.54759 -2.09036 -1.37091
cmd @ 3.92095 pointsource pheromone 1663 -4.70349 0.697891 -1.20326
cmd @ 5.20867 pointsource pheromone 1663 -3.46337 1.22048 2.01558
cmd @ 5.23993 pointsource pheromone 1663 -0.936051 0.135068 -1.83962
cmd @ 5.29491 pointsource pheromone 1663 -4.02141 1.18413 1.70379
cmd @ 5.30851 pointsource pheromone 1663 -2.34338 1.19841 2.17704
cmd @ 7.50268 pointsource pheromone 1663 -0.246553 -0.456805 -0.623957
cmd @ 14.4367 pointsource pheromone 1663 -0.994823 -0.155515 -1.89033
cmd @ 16.0923 pointsource pheromone 1663 -2.45513 -2.46345 0.396967
output_files ves_70.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_70.xyz
end_file
