random_seed 46
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 1.61864 pointsource pheromone 1663 -3.80874 1.25304 1.81208
cmd @ 2.6816 pointsource pheromone 1663 -3.58512 -2.20966 0.671258
cmd @ 2.74565 pointsource pheromone 1663 -1.77215 1.04855 -2.10433
cmd @ 2.84564 pointsource pheromone 1663 -0.866545 -1.73333 -0.398016
cmd @ 5.35226 pointsource pheromone 1663 -5.11063 0.193052 -0.198452
cmd @ 5.97518 pointsource pheromone 1663 -4.84004 -0.218896 -1.14048
cmd @ 7.19005 pointsource pheromone 1663 -2.45135 1.49364 1.99847
cmd @ 7.58146 pointsource pheromone 1663 -0.57 -1.32786 0.518422
cmd @ 8.35024 pointsource pheromone 1663 -4.2492 1.83678 0.49315
cmd @ 9.94671 pointsource pheromone 1663 -3.37783 -1.33907 1.97361
cmd @ 10.7867 pointsource pheromone 1663 -0.497702 1.30059 0.19513
cmd @ 10.9717 pointsource pheromone 1663 -4.81479 1.05661 0.586002
cmd @ 11.3547 pointsource pheromone 1663 -4.57506 -0.756194 -1.37129
cmd @ 13.272 pointsource pheromone 1663 -2.23126 0.303515 -2.45109
cmd @ 15.4694 pointsource pheromone 1663 -0.446271 0.84924 -0.887093
output_files ves_46.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_46.xyz
end_file
