random_seed 85
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.130529 pointsource pheromone 1663 -1.64118 2.29784 0.0838836
cmd @ 1.99144 pointsource pheromone 1663 -3.69969 -1.30161 1.84549
cmd @ 2.03479 pointsource pheromone 1663 -2.69853 -0.0535057 2.49935
cmd @ 3.08144 pointsource pheromone 1663 -1.05741 1.65209 -1.03356
cmd @ 4.82967 pointsource pheromone 1663 -4.28719 0.243182 -1.85283
cmd @ 5.06779 pointsource pheromone 1663 -2.36107 1.90799 -1.59528
cmd @ 6.28005 pointsource pheromone 1663 -3.72826 -2.06844 -0.871424
cmd @ 7.09989 pointsource pheromone 1663 -1.99677 -2.40984 0.230162
cmd @ 7.44535 pointsource pheromone 1663 -2.34228 2.30269 0.934186
cmd @ 7.66406 pointsource pheromone 1663 -0.267246 0.751083 0.363138
cmd @ 8.76915 pointsource pheromone 1663 -0.221605 -0.0942433 -0.685429
cmd @ 11.5453 pointsource pheromone 1663 -3.83649 -0.468433 2.13726
cmd @ 13.1212 pointsource pheromone 1663 -2.74084 1.86437 1.66304
cmd @ 13.3983 pointsource pheromone 1663 -1.88779 1.4497 1.89997
cmd @ 13.4758 pointsource pheromone 1663 -2.9561 1.75772 1.74808
cmd @ 14.1472 pointsource pheromone 1663 -1.94164 -1.83576 -1.555
cmd @ 14.2233 pointsource pheromone 1663 -0.468133 -0.29234 -1.23185
cmd @ 14.8356 pointsource pheromone 1663 -2.27548 -1.92775 1.55454
cmd @ 14.85 pointsource pheromone 1663 -4.01445 0.0178721 2.07945
cmd @ 15.1723 pointsource pheromone 1663 -1.24484 1.01583 -1.82161
output_files ves_85.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_85.xyz
end_file
