random_seed 87
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.239319 pointsource pheromone 1663 -1.52092 2.01457 -0.988693
cmd @ 1.39436 pointsource pheromone 1663 -0.625578 -0.494131 1.41885
cmd @ 1.8781 pointsource pheromone 1663 -3.4738 -1.6217 1.70429
cmd @ 1.95692 pointsource pheromone 1663 -4.63232 1.08954 1.01909
cmd @ 2.96931 pointsource pheromone 1663 -4.53105 0.225151 1.60352
cmd @ 3.566 pointsource pheromone 1663 -4.22818 0.665355 1.80059
cmd @ 3.6027 pointsource pheromone 1663 -2.311 0.0175721 2.48115
cmd @ 4.80117 pointsource pheromone 1663 -2.76696 0.889001 -2.33335
cmd @ 5.28682 pointsource pheromone 1663 -1.18298 2.04087 -0.10206
cmd @ 6.6601 pointsource pheromone 1663 -0.898613 -1.44947 -1.08334
cmd @ 6.80428 pointsource pheromone 1663 -2.22482 -1.83757 -1.6487
cmd @ 8.25237 pointsource pheromone 1663 -2.87783 -2.14121 -1.2674
cmd @ 9.70119 pointsource pheromone 1663 -1.08243 0.87142 1.76525
cmd @ 9.81704 pointsource pheromone 1663 -3.01399 -0.923503 2.29147
cmd @ 10.6575 pointsource pheromone 1663 -0.141029 -0.233929 0.173683
cmd @ 12.5279 pointsource pheromone 1663 -0.550117 -1.39148 -0.116804
cmd @ 16.872 pointsource pheromone 1663 -2.03794 -0.487702 -2.3817
output_files ves_87.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_87.xyz
end_file
