random_seed 71
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.565693 pointsource pheromone 1663 -2.59294 1.23572 2.17416
cmd @ 1.41338 pointsource pheromone 1663 -4.22258 0.204022 1.9134
cmd @ 3.20974 pointsource pheromone 1663 -2.50233 -0.658826 -2.40954
cmd @ 5.51091 pointsource pheromone 1663 -2.32296 -2.30219 0.929364
cmd @ 6.05008 pointsource pheromone 1663 -0.961844 -1.82393 0.402709
cmd @ 6.3116 pointsource pheromone 1663 -3.72897 -1.1194 -1.94504
cmd @ 6.788 pointsource pheromone 1663 -2.41324 0.912158 -2.31908
cmd @ 7.68092 pointsource pheromone 1663 -4.82979 0.800902 -0.867442
cmd @ 7.74878 pointsource pheromone 1663 -3.20569 2.43259 -0.0177471
cmd @ 8.37263 pointsource pheromone 1663 -2.10753 1.13097 2.16983
cmd @ 10.1355 pointsource pheromone 1663 -0.337836 -0.90254 0.457498
cmd @ 10.587 pointsource pheromone 1663 -1.14468 0.00752111 2.01584
cmd @ 11.9383 pointsource pheromone 1663 -3.16038 -1.19359 -2.1316
cmd @ 12.2817 pointsource pheromone 1663 -0.303175 -0.0527586 -0.928086
cmd @ 12.2839 pointsource pheromone 1663 -1.71844 -2.32292 -0.192824
cmd @ 13.8406 pointsource pheromone 1663 -4.75825 -1.30065 -0.112067
cmd @ 13.9244 pointsource pheromone 1663 -4.42459 -0.61555 -1.62407
cmd @ 14.3543 pointsource pheromone 1663 -4.1692 -0.942883 -1.72668
cmd @ 17.1475 pointsource pheromone 1663 -4.97386 0.838106 0.188182
output_files ves_71.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_71.xyz
end_file
