random_seed 96
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 2.31879 pointsource pheromone 1663 -3.5806 -1.91298 1.29705
cmd @ 3.07264 pointsource pheromone 1663 -4.26297 -0.985294 1.61284
cmd @ 3.15847 pointsource pheromone 1663 -0.470152 -1.06683 0.68811
cmd @ 3.73233 pointsource pheromone 1663 -0.699131 0.230247 -1.57893
cmd @ 4.17334 pointsource pheromone 1663 -1.40923 0.206214 2.17586
cmd @ 5.89667 pointsource pheromone 1663 -4.63549 0.196838 1.47452
cmd @ 7.76871 pointsource pheromone 1663 -5.03442 0.66997 -0.0289653
cmd @ 11.6736 pointsource pheromone 1663 -4.01274 0.699265 1.95964
cmd @ 12.1612 pointsource pheromone 1663 -0.928059 -1.71225 0.666018
cmd @ 12.9676 pointsource pheromone 1663 -3.2219 2.19383 -1.04202
cmd @ 13.8253 pointsource pheromone 1663 -2.56047 2.28168 1.02215
cmd @ 14.0021 pointsource pheromone 1663 -2.33072 -1.88777 1.61391
cmd @ 14.0438 pointsource pheromone 1663 -1.87238 -2.04246 -1.23164
cmd @ 14.3703 pointsource pheromone 1663 -1.8714 -2.29481 0.648803
cmd @ 16.0331 pointsource pheromone 1663 -2.34329 2.41284 -0.594854
output_files ves_96.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_96.xyz
end_file
