random_seed 4
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 1.70736 pointsource pheromone 1663 -2.0676 0.967097 2.23809
cmd @ 1.94664 pointsource pheromone 1663 -1.77544 -2.10359 1.0527
cmd @ 3.01801 pointsource pheromone 1663 -2.43021 -0.0368463 2.49313
cmd @ 3.92434 pointsource pheromone 1663 -0.844051 -0.140673 -1.75027
cmd @ 3.98335 pointsource pheromone 1663 -0.213117 -0.6439 0.152356
cmd @ 4.02567 pointsource pheromone 1663 -0.554434 1.04008 -0.941272
cmd @ 4.34347 pointsource pheromone 1663 -1.15592 -1.13702 1.67451
cmd @ 5.00186 pointsource pheromone 1663 -0.224608 0.0354268 0.70133
cmd @ 5.10619 pointsource pheromone 1663 -1.91931 -2.03267 -1.27486
cmd @ 5.94055 pointsource pheromone 1663 -0.598767 0.863593 -1.18473
cmd @ 8.07383 pointsource pheromone 1663 -0.628129 1.50362 -0.0814374
cmd @ 9.40542 pointsource pheromone 1663 -4.74572 1.18531 -0.593792
cmd @ 10.8499 pointsource pheromone 1663 -0.754807 -1.61229 -0.397371
cmd @ 11.5424 pointsource pheromone 1663 -2.8511 1.04704 -2.26
cmd @ 14.7452 pointsource pheromone 1663 -2.2142 2.09384 -1.30464
cmd @ 17.9219 pointsource pheromone 1663 -0.376414 0.418093 1.01196
output_files ves_04.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_04.xyz
end_file
