random_seed 16
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 2.37467 pointsource pheromone 1663 -2.23931 -1.92756 -1.5462
cmd @ 2.49711 pointsource pheromone 1663 -3.16304 0.258818 -2.42869
cmd @ 3.96919 pointsource pheromone 1663 -3.40301 1.52019 -1.82722
cmd @ 4.7937 pointsource pheromone 1663 -4.98109 0.757078 0.361519
cmd @ 5.08342 pointsource pheromone 1663 -1.98075 -2.38301 -0.401477
cmd @ 5.54673 pointsource pheromone 1663 -3.90947 -0.266308 2.12937
cmd @ 7.802 pointsource pheromone 1663 -0.618279 -1.47573 0.224257
cmd @ 8.23148 pointsource pheromone 1663 -1.72336 -0.645402 -2.24176
cmd @ 10.6643 pointsource pheromone 1663 -1.77526 -2.2025 -0.825807
cmd @ 10.7303 pointsource pheromone 1663 -2.36972 1.89451 1.61265
cmd @ 10.8736 pointsource pheromone 1663 -3.70081 1.5158 -1.67332
cmd @ 11.6619 pointsource pheromone 1663 -1.60823 0.181629 2.27776
cmd @ 12.1211 pointsource pheromone 1663 -3.35989 -1.56915 1.80353
cmd @ 12.149 pointsource pheromone 1663 -0.460815 -0.871153 0.90133
cmd @ 14.615 pointsource pheromone 1663 -0.727635 -1.08344 -1.21703
cmd @ 14.9532 pointsource pheromone 1663 -1.60386 -0.893228 2.10105
cmd @ 15.1788 pointsource pheromone 1663 -3.02858 1.2404 -2.1339
output_files ves_16.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_16.xyz
end_file
