random_seed 14
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.598616 pointsource pheromone 1663 -4.77187 -0.889692 0.924338
cmd @ 1.12676 pointsource pheromone 1663 -1.23037 0.914802 1.86364
cmd @ 3.57392 pointsource pheromone 1663 -1.24134 -0.518494 -2.01784
cmd @ 4.40646 pointsource pheromone 1663 -1.81139 -1.18303 2.0478
cmd @ 5.79602 pointsource pheromone 1663 -0.133147 0.177867 0.118461
cmd @ 6.44608 pointsource pheromone 1663 -4.05147 -1.97234 -0.574503
cmd @ 6.51504 pointsource pheromone 1663 -3.88306 -1.7157 1.31479
cmd @ 7.52616 pointsource pheromone 1663 -4.76971 -1.10445 0.65986
cmd @ 11.5741 pointsource pheromone 1663 -2.9484 1.80579 1.69986
cmd @ 11.661 pointsource pheromone 1663 -4.7873 1.07052 0.658375
cmd @ 11.7537 pointsource pheromone 1663 -1.5128 -1.92265 -1.14953
cmd @ 12.973 pointsource pheromone 1663 -4.64373 1.45123 0.271381
cmd @ 14.5734 pointsource pheromone 1663 -3.97094 0.495436 -2.0489
cmd @ 14.8582 pointsource pheromone 1663 -2.65636 -0.887941 -2.33786
cmd @ 15.6544 pointsource pheromone 1663 -3.48158 0.404769 -2.31461
output_files ves_14.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_14.xyz
end_file
