random_seed 40
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.775777 pointsource pheromone 1663 -3.06587 -0.687294 -2.36395
cmd @ 2.54498 pointsource pheromone 1663 -0.142551 -0.231831 0.196733
cmd @ 3.21863 pointsource pheromone 1663 -4.2234 1.62197 1.03409
cmd @ 3.22082 pointsource pheromone 1663 -0.325798 -0.788624 -0.588849
cmd @ 5.62768 pointsource pheromone 1663 -3.48454 -2.29249 0.510561
cmd @ 5.68278 pointsource pheromone 1663 -2.23648 -2.42756 0.459355
cmd @ 8.16387 pointsource pheromone 1663 -3.895 1.25131 1.75395
cmd @ 10.1606 pointsource pheromone 1663 -2.31942 1.98878 1.48539
cmd @ 10.6788 pointsource pheromone 1663 -0.376339 -0.0440731 -1.09388
cmd @ 13.1194 pointsource pheromone 1663 -3.20681 -2.28873 0.82354
cmd @ 16.1005 pointsource pheromone 1663 -4.77639 1.27533 -0.00865395
output_files ves_40.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_40.xyz
end_file
