random_seed 10
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.0198611 pointsource pheromone 1663 -4.20674 -1.70572 -0.918493
cmd @ 0.149915 pointsource pheromone 1663 -0.206091 -0.63548 -0.00663271
cmd @ 0.321241 pointsource pheromone 1663 -2.66514 -0.559879 -2.4372
cmd @ 0.584909 pointsource pheromone 1663 -4.57457 -1.51919 0.38241
cmd @ 1.28443 pointsource pheromone 1663 -1.78619 -2.22498 0.77515
cmd @ 2.31822 pointsource pheromone 1663 -1.55412 -1.02829 2.01267
cmd @ 4.76859 pointsource pheromone 1663 -1.48814 1.61183 -1.53771
cmd @ 5.27195 pointsource pheromone 1663 -2.32087 -1.15505 -2.19735
cmd @ 5.44566 pointsource pheromone 1663 -4.38953 1.46298 -1.00057
cmd @ 6.98109 pointsource pheromone 1663 -2.77666 -1.52073 -1.97975
cmd @ 7.18799 pointsource pheromone 1663 -2.07975 -1.9894 1.41421
cmd @ 10.3344 pointsource pheromone 1663 -4.75561 -0.439799 -1.23373
cmd @ 11.4877 pointsource pheromone 1663 -0.441049 1.04373 0.629268
cmd @ 13.0513 pointsource pheromone 1663 -1.43283 0.186375 -2.19066
cmd @ 15.2821 pointsource pheromone 1663 -0.916901 1.81008 -0.247028
output_files ves_10.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_10.xyz
end_file
