random_seed 69
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.666813 pointsource pheromone 1663 -1.56863 1.97838 1.10684
cmd @ 4.605 pointsource pheromone 1663 -1.46252 0.732097 2.0899
cmd @ 6.18385 pointsource pheromone 1663 -3.84974 0.579359 -2.10223
cmd @ 8.15269 pointsource pheromone 1663 -4.30713 -0.819406 1.65953
cmd @ 9.10317 pointsource pheromone 1663 -3.81525 1.69655 1.4
cmd @ 9.41575 pointsource pheromone 1663 -3.26142 -2.37551 0.454894
cmd @ 9.96854 pointsource pheromone 1663 -4.37465 1.70636 -0.531087
cmd @ 11.342 pointsource pheromone 1663 -4.84969 1.07588 -0.385026
cmd @ 12.8043 pointsource pheromone 1663 -2.13978 2.45343 -0.0161832
cmd @ 15.8313 pointsource pheromone 1663 -0.22251 0.614759 0.324212
output_files ves_69.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_69.xyz
end_file
