random_seed 11
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 0.471633 pointsource pheromone 1663 -4.97076 0.561504 -0.661146
cmd @ 0.656195 pointsource pheromone 1663 -3.68609 -2.23923 0.339031
cmd @ 1.48335 pointsource pheromone 1663 -4.07214 -2.03931 -0.044449
cmd @ 5.07152 pointsource pheromone 1663 -4.63198 1.48807 -0.112624
cmd @ 6.44829 pointsource pheromone 1663 -0.376189 0.999897 -0.445036
cmd @ 6.97545 pointsource pheromone 1663 -0.594287 -0.3994 1.40417
cmd @ 7.26094 pointsource pheromone 1663 -2.90352 -2.10042 1.32878
cmd @ 8.73502 pointsource pheromone 1663 -2.54983 -1.8169 1.71704
cmd @ 9.56355 pointsource pheromone 1663 -2.5337 -0.717059 2.39426
cmd @ 9.80158 pointsource pheromone 1663 -0.753419 1.57543 -0.519823
cmd @ 10.4181 pointsource pheromone 1663 -4.81108 0.109142 -1.21001
cmd @ 11.1581 pointsource pheromone 1663 -1.85593 0.181911 2.37286
cmd @ 12.472 pointsource pheromone 1663 -2.88711 -1.75659 -1.76088
cmd @ 13.5263 pointsource pheromone 1663 -1.25966 1.82789 1.02453
cmd @ 13.8004 pointsource pheromone 1663 -3.59932 0.903567 -2.11879
cmd @ 15.0708 pointsource pheromone 1663 -4.10837 0.930422 -1.78576
output_files ves_11.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_11.xyz
end_file
