random_seed 25
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 7.88164 pointsource pheromone 1663 -1.99733 -2.2995 -0.757181
cmd @ 7.9041 pointsource pheromone 1663 -2.62612 2.3778 -0.775293
cmd @ 8.5715 pointsource pheromone 1663 -3.24015 1.14208 2.13828
cmd @ 9.83073 pointsource pheromone 1663 -2.53858 -2.26397 -1.05923
cmd @ 10.5249 pointsource pheromone 1663 -4.28858 -1.31027 1.33068
cmd @ 11.956 pointsource pheromone 1663 -1.78013 -1.22403 2.01071
cmd @ 14.14 pointsource pheromone 1663 -3.66712 -0.715012 -2.15818
cmd @ 14.6243 pointsource pheromone 1663 -2.28885 1.65158 1.84778
cmd @ 15.0751 pointsource pheromone 1663 -4.65681 1.21512 0.806368
output_files ves_25.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_25.xyz
end_file
