random_seed 77
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 1.56723 pointsource pheromone 1663 -0.895763 1.37268 1.17494
cmd @ 2.45676 pointsource pheromone 1663 -4.13281 1.95418 0.403329
cmd @ 4.6276 pointsource pheromone 1663 -3.30824 2.15541 1.06883
cmd @ 6.81292 pointsource pheromone 1663 -4.06427 1.729 1.09273
cmd @ 8.37573 pointsource pheromone 1663 -1.24036 -0.0406951 -2.08233
cmd @ 8.70627 pointsource pheromone 1663 -4.05435 0.289399 -2.0318
cmd @ 9.2951 pointsource pheromone 1663 -2.84512 -1.3995 2.06105
cmd @ 9.33505 pointsource pheromone 1663 -0.485389 1.29116 0.0997943
cmd @ 9.64044 pointsource pheromone 1663 -4.82234 -0.754338 0.926115
cmd @ 10.3023 pointsource pheromone 1663 -3.37659 2.33033 0.509592
cmd @ 11.2503 pointsource pheromone 1663 -1.86991 2.25167 0.784101
cmd @ 12.733 pointsource pheromone 1663 -3.41977 -2.36277 -0.201679
cmd @ 13.071 pointsource pheromone 1663 -1.27086 2.06598 -0.391227
cmd @ 15.8755 pointsource pheromone 1663 -4.54979 -1.32681 -0.888698
output_files ves_77.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_77.xyz
end_file
