random_seed 37
variable d_sphere 5
variable sep_dist 0.25
variable Dpher 150 # um2/s
variable d_simdomain 50
variable sim_dt 0.0001 # seconds, use this to correct emission rate
dim 3
boundaries x -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries y -d_simdomain-sep_dist d_simdomain+sep_dist
boundaries z -d_simdomain-sep_dist d_simdomain+sep_dist


species pheromone
difc pheromone(all) Dpher

start_surface receiver
action both all reflect
panel sphere d_sphere/2+sep_dist/2 0 0 -d_sphere/2 10 10
end_surface

start_surface emitter
action both all reflect
panel sphere -(d_sphere/2+sep_dist/2) 0 0 -d_sphere/2 10 10
end_surface

start_surface sim_boundary
action both all absorb
polygon both none
panel sphere 0 0 0 -d_simdomain 10 10
end_surface

# Pseudosurface for keeping track of molecular coordinates.
start_surface surveillance_boundary
action both all transmit
panel sphere 0 0 0 -(d_sphere+2*sep_dist) 10 10
end_surface

# Pseudocompartment for keeping track of molecular coordinates.
start_compartment surveillance_compartment
surface surveillance_boundary
point 0 0 0
end_compartment

time_start 0
time_stop 15
time_step sim_dt

cmd @ 1.38639 pointsource pheromone 1663 -5.02483 -0.298952 0.637533
cmd @ 2.65075 pointsource pheromone 1663 -3.14337 -2.24688 -0.968407
cmd @ 3.13309 pointsource pheromone 1663 -2.74417 1.38234 2.08085
cmd @ 3.31078 pointsource pheromone 1663 -3.71543 -0.961762 -2.03494
cmd @ 3.63404 pointsource pheromone 1663 -3.99438 -1.4166 -1.54048
cmd @ 3.79153 pointsource pheromone 1663 -2.33634 -1.68745 1.82323
cmd @ 3.95529 pointsource pheromone 1663 -3.48307 1.48087 -1.82366
cmd @ 6.04104 pointsource pheromone 1663 -2.39886 -2.31963 -0.907294
cmd @ 6.23379 pointsource pheromone 1663 -2.65492 2.00086 -1.50023
cmd @ 6.2828 pointsource pheromone 1663 -0.367711 1.0451 0.259657
cmd @ 6.59298 pointsource pheromone 1663 -4.40698 1.23058 1.25108
cmd @ 6.7516 pointsource pheromone 1663 -5.05081 0.19577 -0.5763
cmd @ 9.95553 pointsource pheromone 1663 -0.725362 0.771636 -1.43212
cmd @ 10.4732 pointsource pheromone 1663 -4.99283 -0.669779 -0.446956
cmd @ 11.8117 pointsource pheromone 1663 -1.68823 -0.671978 -2.21944
cmd @ 12.3413 pointsource pheromone 1663 -4.96339 0.866698 0.189138
cmd @ 12.4935 pointsource pheromone 1663 -0.965607 1.85996 0.204818
cmd @ 13.663 pointsource pheromone 1663 -1.37998 -1.55668 -1.51052
cmd @ 13.9786 pointsource pheromone 1663 -1.95397 0.99556 -2.19399
cmd @ 16.0971 pointsource pheromone 1663 -2.98328 -0.573074 -2.40795
output_files ves_37.xyz
cmd I 50000 150000 1 listmolscmpt pheromone(all) surveillance_compartment ves_37.xyz
end_file
